{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% if field.value is iterable %}

    {% for fieldKey,fieldValue in field.value %}
    <span class="badge badge-secondary">
    
    {% if fieldKey not in field.formattedValue|keys %}
        ?
    {% else %}
        {% if field.formattedValue[fieldKey] is iterable %}
            {% if field.formattedValue[fieldKey]|length > 1 %}
                <div data-toggle="tooltip" data-placement="top" title="{{ field.formattedValue[fieldKey][0] }}">
                    {{field.formattedValue[fieldKey][1] | raw}}
                </div>
            {% else %}
                ?
            {% endif %}
        {% else %}
            {{ field.formattedValue[fieldKey] }}
        {% endif %}
    {% endif %}
    
    </span>
    {% endfor %}
    

{% else %}

        <span class="badge badge-secondary">
            {% if field.formattedValue is iterable and field.formattedValue|length > 1 %}
                    <div data-toggle="tooltip" data-placement="top" title="{{ field.formattedValue[0] }}">
                    {{field.formattedValue[1] | raw}}
                    </div>
            {% else %}
                {% if field.value is null %}
                <i class="fa fa-fw">-</i>
                {% else %}
                {{field.value}}
                {% endif %}
            {% endif %}
        </span>
{% endif %}
