{% use "@Twig/Form/form_div_layout.html.twig" %}

{%- block form_errors -%}
{%- if errors|length > 0 -%}
<ul>
    {%- for error in errors -%}
    <li>{{ error.message|trans2(error.getMessageParameters()|merge({'label':error.origin.name})) }}</li>
    {%- endfor -%}
</ul>
{%- endif -%}
{%- endblock form_errors -%}

{%- block quill_widget -%}
<input {{ block('widget_attributes') }} name="{{ full_name }}" type="hidden" {% if value is not empty %} value="{{ value }}" {% endif %} />
<div id="{{ id }}_editor" {{ block('attributes') }}>
    {{ value | raw }}
</div>
{%- endblock quill_widget -%}

{%- block translatable_widget -%}

{% if form.children|length == 1 and single_locale %}

    {% for row in form.children %}
        {{ form_widget(row) }}<br/>
    {% endfor %}

{% else %}

    <ul class="nav nav-tabs" role="tablist" id="{{ form.vars['id'] }}_nav">
    {% for form_locale, form_child in form.children %}
        <li class="nav-item" role="presentation">

            {% set lang    = form_locale|lang %}
            {% set country = form_locale|country %}
            <button class="nav-link {% if locale == form_locale %}active{% endif %}" id="home-tab" data-bs-toggle="tab" data-bs-target="#{{country}}" type="button" role="tab" aria-controls="{{country}}" aria-selected="true">
                <label {% if form_child.vars['required'] %}class="required"{% endif %}>
                    <img class="country-flag {% if default_locale == form_locale %}default{% endif %} " src="{{asset('/bundles/base/flags/'~ country~'.png')}}" alt="{{ form_locale }}">
                </label>
            </button>
        </li>
    {% endfor %}
    </ul>

    <div class="tab-content" id="{{ form.vars['id'] }}_tab">
    {% for form_locale, formChild in form.children %}
        {% set lang    = form_locale|lang %}
        {% set country = form_locale|country %}
        <div class="tab-pane fade {% if locale == form_locale %}show active{% endif %}" id="{{country}}" role="tabpanel" aria-labelledby="{{country}}-tab">
            {% for row in formChild %}
            {{ form_row(row) }}<br/>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endif %}
{%- endblock translatable_widget -%}

{%- block slug_widget -%}

{# Search for target inside form based on parent including translation #}
{% set form = form.parent %}
{% for child in target %}
    {% set form = form[child] %}
    {% if child == "translations" %}
        {% if form.vars.default_locale in form|keys %}
            {% set form = form[form.vars.default_locale] %}
        {% else %} 
            {% set form = form|first %}
        {% endif %}
    {% endif %}
{% endfor %}

{# Define slug parameters #}
{% set attr = attr|merge({
    'data-slug-field': '',
    'data-target': form.vars.id
}) %}

<div class="input-group">
    {{ block('form_widget') }}
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
            <i class="fas fa-lock fa-fw"></i>
        </button>
    </div>
</div>
{%- endblock -%}

{%- block avatar_widget -%}

{% set attr = attr|merge({
    'data-avatar-field'   : form.vars.id,
    'data-avatar-cropper' : form.vars.cropper,
}) %}

<div class="avatarupload" {{ block('attributes') }}>

    {{ form_widget(form, { attr: form.vars.attr }) }}

    {% if allow_delete %}
    <div id="{{id}}_deleteBtn2" class="deleteBtn" style="{% if avatar is empty %}display:none;{% endif %}">
        <i class="fas fa-plus-circle fa-2x"></i>
    </div>
    {% endif %}
</div>
{%- endblock -%}

{%- block imageupload_widget -%}
{% set attr = attr|merge({
    'data-image-field'         : form.vars.id,
    'data-image-cropper'       : form.vars.cropper,
    'data-image-thumbnail'     : form.vars.thumbnail,
    'data-image-ajaxPost'      : form.vars.ajaxPost,
}) %}

<div class="imageupload" {{ block('attributes') }}>

    {% if not multiple %}
        <figure>
            <img id="{{id}}_thumbnail" style="cursor: pointer;" src="{{ form.vars.value | default(thumbnail) }}" />
            <figcaption id="{{id}}_figcaption">
                <i class="fas fa-plus-circle fa-3x"></i>
            </figcaption>
        </figure>

        {% if cropper %}

            <!-- Modal -->
            <div class="modal fade" id="{{id}}_modal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Image cropper</h5>
                    <button type="button" class="btn-close {{id}}_modalClose" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="img-container">
                        <img id="{{id}}_cropper" src="" style="visibility:hidden">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary {{id}}_modalClose">Cancel</button>
                    <button type="button" class="btn btn-primary" id="{{id}}_modalSave">Save changes</button>
                </div>
                </div>
            </div>
            </div>

        {% endif %}
    {% endif %}

    {{ form_widget(form, { attr: form.vars.attr }) }}

</div>
{%- endblock -%}

{%- block fileupload_widget -%}
{% set attr = attr|merge({
    'data-file-sortable'      : form.vars.sortable,
    'data-file-ajaxPost'      : form.vars.ajaxPost,
}) %}

<div class="fileupload" data-file-field="{{ id }}" data-file-dropzone="{{form.vars.dropzone}}">
    <div class="field">
    {% if multiple and dropzone %}

        <div id="{{ id }}_dropzone" {{ block('attributes') }}></div>
        {{ form_widget(form.file, { id: id, value:value }) }}

    {% else %}

        {% set placeholder = '' %}
        {% set title = '' %}
        {% set filesLabel = 'files'|trans %}

        {{ form_widget(form.file, { attr: form.file.vars.attr, value: form.vars.value }) }}
        {{ form_widget(form.raw, { attr: form.raw.vars.attr|merge({ accept: accept }) }) }}

        {% if allow_delete %}
        <div id="{{id}}_deleteBtn" class="deleteBtn" style="{% if files is empty %}display:none;{% endif %}">
            <span style="cursor:pointer;">&#x2715;</span>
        </div>
        {% endif %}

    {% endif %}
    </div>
    {% if max_filesize %}
    <div class="form-text text-muted">The maximum file size allowed is {{max_filesize|filesize}}.</div>
    {% endif %}
    {% if form.vars.value and multiple %}
    <div class="form-text text-muted">{{form.vars.data|length}} file(s) found.</div>
    {% endif %}
</div>

{{ form_errors(form.raw) }}
{%- endblock -%}
