{% use "@Twig/Form/form_div_layout.html.twig" %}

{# Overloaded form template.. #}

{%- block form2_label  -%}{{- form_label(form)  -}}{%- endblock -%}
{%- block form2_widget -%}{{- form_widget(form) -}}{%- endblock -%}
{%- block form2_errors -%}{{- form_errors(form) -}}{%- endblock -%}
{%- block form2_help   -%}
    {% if help is not empty %}
    <span class="data-help">
        <i class="far fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="{{help}}"></i>
    </span>
    {% endif %}
{%- endblock -%}

{% block form2_row -%}

    {# {%- set attr = attr|merge({'class': 'form-control' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) -%}
    {%- set widget_attr = {attr: attr} -%}
    {%- set row_attr = row_attr|merge({'class': 'form-group' ~ (row_attr.class is defined ? ' ' ~ row_attr.class : '')} ) -%} #}
    <div {% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        <span>{{- form_label(form) -}}{{- form_help(form) -}}</span>
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form2_row -%}

{# All custom FormType widgets are below.. #}

{%- block quill_widget -%}
    
    <input {{ block('widget_attributes') }} name="{{ full_name }}" type="hidden" {% if value is not empty %} value="{{ value }}" {% endif %} />
    
    {% set attr = attr|merge({
        'data-quill-field': form.vars.id,
        'data-quill-options': quill
        }) %}
    
    <div id="{{ id }}_editor" {{ block('attributes') }}>
        {{ value | raw }}
    </div>

{%- endblock quill_widget -%}

{%- block select2_widget -%}

    {% set attr = attr|merge({
        'data-select2-field': select2,
        'data-select2-sortable': form.vars["select2-sortable"],
    }) %}

    {{ form_widget(form, {attr: attr}) }}

{% endblock select2_widget %}

{%- block datetimepicker_widget -%}

    {% set attr = attr|merge({
        'data-datetimepicker-field': form.vars.id,
        'data-datetimepicker-options': datetimepicker
    }) %}

    {{ form_widget(form, {attr: attr}) }}

{% endblock datetimepicker_widget %}


{%- block translatable_row -%}
    {% set row_attr = row_attr|merge({'class': 'form-group form-translatable' ~ (row_attr.class is defined ? ' ' ~ row_attr.class : '')} ) %}
    <div {% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
    {{ form_widget(form) }}
    </div>
{%- endblock -%}

{%- block translatable_widget -%}

{% if form.children|length == 1 and single_locale %}

    {% for row in form.children %}
        {{ form_widget(row) }}
    {% endfor %}

{% else %}

    {% if translations_empty is defined and translations_empty == false %}
        <ul class="nav nav-tabs" role="tablist" id="{{ form.vars['id'] }}_nav">

        {% for form_locale, form_child in form.children %}
            <li class="nav-item" role="presentation">

                {% set lang    = form_locale|lang %}
                {% set country = form_locale|country %}

                <button class="nav-link {% if locale == form_locale %}active{% endif %}" id="home-tab" data-bs-toggle="tab" data-bs-target="#{{country}}" type="button" role="tab" aria-controls="{{country}}" aria-selected="true">
                    <label {% if form_child.vars['required'] %}class="required"{% endif %}>
                        <img class="country-flag {% if default_locale == form_locale %}default{% endif %} " src="{{asset('bundles/base/flags/'~ country~'.png')}}" alt="{{ form_locale }}">
                    </label>
                </button>
            </li>
        {% endfor %}
        </ul>

        <div class="tab-content" id="{{ form.vars['id'] }}_tab">
        {% for form_locale, formChild in form.children %}

            {% set lang    = form_locale|lang %}
            {% set country = form_locale|country %}
            <div class="tab-pane fade {% if locale == form_locale %}show active{% endif %}" id="{{country}}" role="tabpanel" aria-labelledby="{{country}}-tab">
                {% for row in formChild %}
                    {{ form_row(row) }}
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endif %}
{%- endblock translatable_widget -%}

{%- block pattern_widget -%}

{# Define slug parameters #}
{% set attr = attr|merge({
    'data-pattern-field': form.vars.id,
    'data-pattern': pattern
}) %}

<div class="input-group mb-3">
  <div class="input-group-text" id="basic-addon3">https://example.com/users/</div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  <div class="input-group-text">$</div>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <div class="input-group-text">.00</div>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username">
  <div class="input-group-text">@</div>
  <input type="text" class="form-control" placeholder="Server" aria-label="Server">
  <div class="input-group-text">.com</div>
</div>
{# <div class="input-group">
    {{ block('form_widget') }}
    <div class="input-group-append">
        <button class="input-group-text" type="button">
            <i class="fas fa-lock fa-fw"></i>
        </button>
    </div>
</div> #}

{%- endblock -%}


{%- block slug_widget -%}

{# Search for target inside form based on parent including translation #}
{% set form = form.parent %}
{% for child in target %}

    {% set form = form[child] %}

    {% if child == "translations" %}
        {% if form.vars.default_locale is defined and form.vars.default_locale in form|keys %}
            {% set form = form[form.vars.default_locale] %}
        {% else %} 
            {% set form = form|first %}
        {% endif %}
    {% endif %}
{% endfor %}

{# Define slug parameters #}
{% set attr = attr|merge({
    'data-slug-field': '',
    'data-target': form.vars.id
}) %}

<div class="input-group">
    {{ block('form_widget') }}
    <div class="input-group-append">
        <button class="input-group-text" type="button">
            <i class="fas fa-lock fa-fw"></i>
        </button>
    </div>
</div>

{%- endblock -%}

{%- block avatar_widget -%}

{% set attr = attr|merge({
    'data-avatar-field'   : form.vars.id,
    'data-avatar-cropper' : form.vars.cropper,
}) %}

<div class="avatarupload" {{ block('attributes') }}>

    {{ form_widget(form, { attr: form.vars.attr }) }}

    {% if allow_delete %}
    <div id="{{id}}_deleteBtn2" class="deleteBtn" style="{% if avatar is empty %}display:none;{% endif %}">
        <i class="fas fa-plus-circle fa-2x"></i>
    </div>
    {% endif %}
</div>
{%- endblock -%}

{%- block imageupload_widget -%}
{% set attr = attr|merge({
    'data-image-field'         : form.vars.id,
    'data-image-cropper'       : form.vars.cropper,
    'data-image-thumbnail'     : form.vars.thumbnail,
    'data-image-ajax'      : form.vars.ajax,
}) %}

<div class="imageupload" {{ block('attributes') }}>

    {% if not multiple %}
        <figure>
            <img id="{{id}}_thumbnail" style="cursor: pointer;" src="{{ form.vars.value | default(thumbnail) }}" />
            <figcaption id="{{id}}_figcaption">
                <i class="fas fa-plus-circle fa-3x"></i>
            </figcaption>
        </figure>

        {% if cropper %}

            <!-- Modal -->
            <div class="modal fade" id="{{id}}_modal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Image cropper</h5>
                    <button type="button" class="btn-close {{id}}_modalClose" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="img-container">
                        <img id="{{id}}_cropper" src="" style="visibility:hidden">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary {{id}}_modalClose">Cancel</button>
                    <button type="button" class="btn btn-primary" id="{{id}}_modalSave">Save changes</button>
                </div>
                </div>
            </div>
            </div>

        {% endif %}
    {% endif %}

    {{ form_widget(form, { attr: form.vars.attr }) }}

</div>
{%- endblock -%}

{%- block fileupload_widget -%}

{% set attr = attr|merge({
    'data-file-sortable'              : form.vars.sortable,
    'data-file-ajax'                  : form.vars.ajax,
    'data-file-max-files'             : form.vars.max_files,
    'data-file-counter[none]'         : "forms.field.fileCounter.none"       | trans2(["{0}"]),
    'data-file-counter[singular]'     : "forms.field.fileCounter.singular"   | trans2(["{0}"]),
    'data-file-counter[plural]'       : "forms.field.fileCounter.plural"     | trans2(["{0}"]),
    'data-file-counter-max[none]'     : "forms.field.fileCounterMax.none"    | trans2(["{0}"]),
    'data-file-counter-max[singular]' : "forms.field.fileCounterMax.singular"| trans2(["{0}"]),
    'data-file-counter-max[plural]'   : "forms.field.fileCounterMax.plural"  | trans2(["{0}"])
}) %}

<div class="fileupload" data-file-field="{{ id }}" data-file-dropzone="{{form.vars.dropzone}}">
    <div class="field">
    {% if multiple and dropzone %}

        <div id="{{ id }}_dropzone" {{ block('attributes') }}></div>
        {{ form_widget(form.file, { id: id, value:value }) }}

    {% else %}

        {% set placeholder = '' %}
        {% set title = '' %}
        {% set filesLabel = 'files'|trans %}

        {{ form_widget(form.file, { attr: form.file.vars.attr, value: form.vars.value }) }}
        {{ form_widget(form.raw, { attr: form.raw.vars.attr|merge({ accept: accept|join(',') }) }) }}
    
        {% if allow_delete %}
        <div id="{{id}}_deleteBtn" class="deleteBtn" style="{% if files is empty %}display:none;{% endif %}">
            <span style="cursor:pointer;">&#x2715;</span>
        </div>
        {% endif %}

    {% endif %}
    </div>

    {% if form.vars.max_filesize %}
    <div class="form-filesize form-text text-muted">{{"forms.field.maxFile"|trans2([form.vars.max_filesize|filesize])}}</div>
    {% endif %}
    
    {% set exts = form.vars.accept|extension %}
    {% if exts is not empty %}
    <div class="form-filesize form-text text-muted">{{"forms.field.mimeType"|trans2([exts|length, exts|join(', ')|upper])}}</div>
    {% endif %}

    <div class="form-errors form-text text-muted">{{ form_errors(form.raw) }}</div>

    {% if multiple %}
    <div id="{{id}}_metadata" class="form-text text-muted"></div>
    {% endif %}

</div>

{%- endblock -%}

{%- block entity2_label -%}
    {% if form.vars.multiple %}
        {{ form_label(form, null, {'required': false}) }}
    {% else %}
        {{ form_label(form, null, {'required': form.vars.required}) }}
    {% endif %}
{%- endblock -%}

{%- block entity2_row -%}
    {% if form.parent.parent is null and multiple %}
    
        {% if form.children.vars.prototype is defined and not form.children.vars.prototype.rendered %}
            {% set prototype_row = form_row(form.children.vars.prototype, {attr:{"class": "form-control"}}) %}
            {% set attr = attr|merge({ 'data-prototype': prototype_row}) %}
        {% endif %}

        {% set attr = attr|merge({
            'data-collection-field': 'true',
            'data-allow-add': form.children.vars.allow_add ? 'true' : 'false',
            'data-allow-delete': form.children.vars.allow_delete ? 'true' : 'false',
            'data-num-items': form.children is empty ? 0 : max(form.children|keys),
            'data-form-type-name-placeholder': form.children.vars.prototype is defined ? form.children.vars.prototype.vars.name : '',
            'data-empty-collection': block('collection2_empty') 
        }) %}

        {% set attr = attr | filter((v, k) => k != 'class' and v != 'form-control')%}
        {%- set attr = attr|merge({'class': 'form-collection' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) -%}

        <div class="form-group">
            {{ form_label(form)}}
            <div {{ block('widget_attributes') }}>
                {{ form_widget(form.children) }}
            </div>
        </div>
    {% else %}
        {% set attr = attr | filter((v, k) => k != 'class' and v != 'form-control')%}
        {%- set attr = attr|merge({'class': 'form-entity' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) -%}
        {{ form_widget(form, {attr: attr}) }}
    {% endif %}
{%- endblock -%}

{%- block collection2_row -%}

    {% if prototype is defined and not prototype.rendered %}
        {% set prototype_row = form_row(prototype, {attr:{"class": "form-control"}}) %}
        {% set attr = attr|merge({ 'data-prototype': prototype_row}) %}
    {% endif %}

    {% set attr = attr|merge({
        'data-collection-field': 'true',
        'data-allow-add': allow_add ? 'true' : 'false',
        'data-allow-delete': allow_delete ? 'true' : 'false',
        'data-num-items': form.children is empty ? 0 : max(form.children|keys),
        'data-form-type-name-placeholder': prototype is defined ? prototype.vars.name : '',
        'data-empty-collection': block('collection2_empty')
    }) %}
    
    {% set attr = attr | filter((v, k) => k != 'class' and v != 'form-control')%}
    {%- set attr = attr|merge({'class': 'form-collection' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) -%}
    
    <div class="form-group">
        {{ form_label(form)}}
        <div {{ block('widget_attributes') }}>
            {{ form_widget(form) }}
        </div>
    </div>
    
{%- endblock collection2_row -%}

{%- block collection2_label -%}
    {{ form_label(form, null, {'required': false}) }}
{%- endblock -%}

{%- block collection2_widget -%}

    {# the "is iterable" check is needed because if an object implements __toString() and
               returns an empty string, "is empty" returns true even if it's not a collection #}

    {% set isEmptyCollection = value is null or (value is iterable and value is empty) %}
    {% if  isEmptyCollection %}
        {{ block('collection2_empty') }}
    {% else %}
        {% set attr = attr|merge({'class': 'form-collection-items' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) %}
        {{ form_widget(form, {attr: attr}) }}
    {% endif %}
    
    {% if allow_add|default(false) %}
        <button type="button" class="btn btn-link form-collection-add-button">
            <i class="fa fa-plus pr-1"></i>
            {{ 'EasyAdminBundle.action.add_new_item'|trans2 }}
        </button>
    {% endif %}
{%- endblock collection2_widget -%}

{%- block collection2_entry_row -%}
    {{ form_row(form) }}
{%- endblock collection2_entry_row -%}

{%- block collection2_entry_widget -%}
    {% set allows_deleting_items = form_parent(form).vars.allow_delete|default(false) %}
    {% set delete_item_button %}
        <button type="button" class="btn btn-link btn-link-danger form-collection-delete-button"
                title="{{ 'action.remove_item'|trans({}, 'EasyAdminBundle') }}">
            <i class="far fa-trash-alt"></i>
        </button>
    {% endset %}

    <div class="accordion form-collection-item">

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}-contents">
                    <i class="fas fw fa-chevron-right form-collection-item-collapse-marker"></i>
                    {{ value|ea_as_string }}
                </button>

                {% if allows_deleting_items %}
                    {{ delete_item_button }}
                {% endif %}
            </h2>
            <div id="{{ id }}-contents" class="accordion-collapse collapse">
                <div class="accordion-body">
                    {# {% set attr = attr | filter((v, k) => k != 'class' and v != 'form-group') %} #}
                    {{ form_widget(form, {attr:attr}) }}
                </div>
            </div>
        </div>

    </div>
{%- endblock collection2_entry_widget -%}

{%- block collection2_empty -%}
    <div class="empty collection-empty"></div>
{%- endblock collection2_empty -%}
