{% use "@Twig/Form/form_div_layout.html.twig" %}

{# Overriding the EA form overriding >( #}
{% block form_start %}

        {%- set attr = attr|merge({'class': 'needs-validation' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) -%}
        {%- set attr = attr|merge({'novalidate': 'novalidate'}) -%}
    {{ parent(attr) }}
    <input type="hidden" name="referrer" value="{{ ea.request.query.get('referrer') }}">
    {% if form.vars.errors|length > 0 and 'ea_crud' in form.vars.block_prefixes|default([]) %}
        {{ form_errors(form, {attr: { class: 'global-invalid-feedback' }}) }}
    {% endif %}
{% endblock form_start %}

{% block form_end %}
        {% if not render_rest is defined or render_rest %}
            {{ form_rest(form) }}
        {% endif %}
    </form>
{% endblock %}

{# Overloaded form template.. #}
{%- block form2_label  -%}{{- form_label(form, null, {'label_html': true})  -}}{%- endblock -%}
{%- block form2_widget -%}{{- form_widget(form) -}}{%- endblock -%}
{%- block form2_errors -%}
{%- set row_attr = row_attr|merge({'class': 'form-errors' ~ (row_attr.class is defined ? ' ' ~ row_attr.class : '')} ) -%}
{% if errors|length %}
    <div {% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>{{- form_errors(form) -}}</div>
{% endif %}
{%- endblock -%}

{%- block form2_help   -%}
    {% if help is not empty %}
    <span class="data-help">
        <i class="far fa-question-circle" data-toggle="tooltip" data-bs-placement="right" title="{{help}}"></i>
    </span>
    {% endif %}
{%- endblock -%}

{% block form2_row -%}
    {# {%- set attr = attr|merge({'class': 'form-control' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) -%} #}
    {# {%- set row_attr = row_attr|merge({'class': 'form-group' ~ (row_attr.class is defined ? ' ' ~ row_attr.class : '')} ) -%} #}
    <div {% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        <span>{{- form_label(form) -}}{{- form_help(form) -}}</span>

        {% set _form_error = form_errors(form, {row_attr:{}}) %}
        {% if _form_error is not empty %}
            {%- set attr = attr|merge({'class': 'is-invalid' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) -%}
        {% endif %}

        {{- form_widget(form, {attr:attr}) -}}
        {{- _form_error|raw -}}
    </div>
{%- endblock form2_row -%}

{# Custom FormType widgets are below.. #}
{%- block quill_row -%}
<div class="form-quill form-group">
    <span>{{ form_label(form) }}</span>
    {{ form_errors(form) }}
    {{ form_row(form) }}
</div>
{%- endblock -%}
{%- block quill_widget -%}

    {% set attr = attr|merge({
        'data-quill-field': form.vars.id,
        'data-quill-options': quill
    }) %}

    {{ form_widget(form) }}
    <div id="{{ id }}_editor" {{ block('attributes') }}>
        {{ value | raw }}
    </div>

{%- endblock quill_widget -%}

{%- block attribute_widget -%}
<div class="form-control form-attribute">
    {{ form_widget(form.choice) }}
    <div class="form-attribute-items">

        {% for fieldName in form.children|keys|filter(k => k != "choice") %}
            {{ form_widget(form.children[fieldName]) }}
        {% endfor %}

        <div class="form-text text-muted">{{"@fields.attribute.empty"|trans}}</span></div>
    </div>
</div>
{% endblock attribute_widget %}

{%- block select2_row -%}
    {%- set attr = attr|merge({'class': 'form-select2' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) -%}
    {{form_row(form, {attr:attr})}}
{%- endblock -%}

{%- block select2_widget -%}

    {% set attr = attr|merge({
        'data-select2-field'   : form.vars.id~"_choice",
        'data-select2-options' : select2,
        'data-select2-href'    : form.vars["select2-href"]|default("")|urldecode,
        'data-select2-sortable': form.vars["select2-sortable"],
        'data-tabulation'      : form.vars["tabulation"]
    }) %}

    {{ form_widget(form.choice, {attr: attr, row_attr:row_attr}) }}

    {% if form.vars.tokenSeparators is defined %}
    <div class="form-filesize form-text text-muted">{{"@fields.select.token_separator"|trans(["'"~form.vars.tokenSeparators|join("' '")~"'"])}}</div>
    {% endif %}

{% endblock select2_widget %}

{%- block discriminator_row -%}
    {%- set attr = attr|merge({'class': 'form-select2' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) -%}
    {{form_row(form)}}    
{%- endblock -%}

{%- block discriminator_widget -%}
    {{ form_widget(form.choice, {attr: attr, row_attr:row_attr}) }}
{% endblock discriminator_widget %}

{%- block datetimepicker_widget -%}
    {% set attr = attr|merge({
        'data-datetimepicker-field': form.vars.id,
        'data-datetimepicker-options': datetimepicker
    }) %}

    <div class="input-group form-stock">
        <div class="input-group-text">
            <button class="btn btn-outline-secondary" type="button" id="{{form.vars.id}}-btn">
                <i class="fas fa-calendar-day"></i>
            </button>
        </div>
        {{ form_widget(form, {attr:attr}) }}
    </div>
{% endblock datetimepicker_widget %}

{%- block translatable_row -%}
    {{ form_widget(form) }}
{%- endblock -%}

{%- block translatable_widget -%}
    {% set row_attr = row_attr|merge({'class': 'form-translatable' ~ (row_attr.class is defined ? ' ' ~ row_attr.class : '')} ) %}
    <div id="{{ form.vars['id'] }}" {% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        
    {% if form.children|length == 1 and single_locale %}

        {% for row in form.children %}
            {{ form_widget(row) }}
        {% endfor %}

    {% else %}

        {% if translations_empty is defined and translations_empty == false %}

                <ul class="nav nav-tabs" role="tablist" id="{{ form.vars['id'] }}_nav">

                {% for form_locale, form_child in form.children %}
                    {% if form_locale in form.vars.available_locales %}
                    <li class="nav-item" role="presentation">

                        {% set country = form_locale|country %}
                        <button class="nav-link {% if locale == form_locale %}active{% endif %}" id="{{ form.vars['id']~"_"~form_locale}}-tab" data-bs-toggle="tab" data-bs-target="#{{ form.vars['id']~"_"~form_locale}}" type="button" role="tab" aria-controls="{{form_locale}}" aria-selected="true">
                            <label {% if form_locale == default_locale or form_locale in required_locales %}class="required"{% endif %}>
                                <img class="country-flag {% if default_locale == form_locale %}default{% endif %} " src="{{asset('bundles/base/flags/'~ country~'.png')}}" alt="{{ form_locale }}">
                            </label>
                        </button>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>

                <div class="tab-content" id="{{ form.vars['id'] }}_tab">
                {% for form_locale, formChild in form.children %}
                    {% if form_locale in form.vars.available_locales %}
                        <div class="tab-pane fade {% if locale == form_locale %}show active{% endif %}" id="{{ form.vars['id']~"_"~form_locale}}" role="tabpanel" aria-labelledby="{{ form.vars['id']~"_"~form_locale}}-tab">
                            {% for row in formChild %}
                                {{ form_row(row) }}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
        {% endif %}

    {% endif %}
    </div>
{%- endblock translatable_widget -%}

{%- block slug_widget -%}

{# Search for target inside form based on parent including translation #}
{% set form = form.ancestor %}

{% for child in target %}

    {% set form = form[child] %}

    {% if child == "translations" %}
        {% if form.vars.default_locale is defined and form.vars.default_locale in form|keys %}
            {% set form = form[form.vars.default_locale] %}
        {% else %} 
            {% set form = form|first %}
        {% endif %}
    {% endif %}
{% endfor %}

{# Define slug parameters #}
{% set attr = attr|merge({
    'data-slug-field': target is not null,
    'data-target': form.vars.id
}) %}

<div class="input-group">
    {{ block('form_widget') }}
    <div class="input-group-append">
        <button class="input-group-text" type="button">
            <i class="fas {{ target is not empty ? "fa-lock" : "fa-unlock" }} fa-fw"></i>
        </button>
    </div>
</div>

{%- endblock -%}

{%- block percent_widget -%}
    <div class="input-group">
        {{ block('form_widget') }}
        <div class="input-group-append">
            <button class="input-group-text" type="button">
                <i class="fas fa-percent fa-fw"></i>
            </button>
        </div>
    </div>
{%- endblock -%}

{%- block boolean_row -%}

    {% if form.vars.switch %}
        {%- set row_attr = row_attr|merge({'class': 'form-check form-switch' ~ (row_attr.class is defined ? ' ' ~ row_attr.class : '')} ) -%}
    {% endif %}

    {{ form_row(form, { row_attr: row_attr }) }}

{%- endblock -%}

{%- block boolean_widget -%}

    {% if form.vars.switch %}
        {%- set label_attr = label_attr|merge({'class': 'checkbox-switch' ~ (label_attr.class is defined ? ' ' ~ label_attr.class : '')} ) -%}
        {%- set attr = attr|merge({'class': 'form-check-input' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) -%}
    {% endif %}

    {% set attr = attr|merge({
        'data-boolean-field'   : form.vars.id,
        'data-boolean-confirmation-check'   : form.vars.confirmation_check,
        'data-boolean-confirmation-uncheck'   : form.vars.confirmation_uncheck
    }) %}

    {{ form_widget(form, { attr: attr }) }}

    {% if form.vars.confirmation_check or form.vars.confirmation_uncheck %}
    <div class="modal fade" id="{{ form.vars.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="{{ form.vars.id }}-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="$('#{{ form.vars.id }}-modal').modal('hide');"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ "@fields.boolean.title" | trans([form.vars.label]) }}</h4>
            </div>
            <div class="modal-body">
                {{ "@fields.boolean.text"|trans }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#{{ form.vars.id }}-modal').modal('hide');">{{ "@fields.boolean.button.cancel"|trans }}</button>
                <button type="button" class="btn btn-primary" id="{{ form.vars.id }}-confirm">{{ "@fields.boolean.button.confirm"|trans }}</button>
            </div>
        </div>
    </div>
    </div>
    {% endif %}

{%- endblock -%}

{%- block avatar_widget -%}

{% set attr = attr|merge({
    'data-avatar-field'   : form.vars.id,
    'data-avatar-cropper' : form.vars.cropper,
}) %}

<div class="avatarupload" {{ block('attributes') }}>

    {{ form_widget(form, { attr: form.vars.attr }) }}

    {% if allow_delete %}
    <div id="{{id}}_deleteBtn2" class="deleteBtn" style="{% if avatar is empty %}display:none;{% endif %}">
        <i class="fas fa-plus-circle fa-2x"></i>
    </div>
    {% endif %}
</div>
{%- endblock -%}

{%- block imageupload_label -%}
    {{ form_label(form, null, {'required': required})}}
    {{ form.vars.value ? clipboard("copy", form.vars.value|webp, {style:"font-size:13pt; margin-left:0.25em;"}) : "" }}
{% endblock imageupload_label %}

{%- block imageupload_widget -%}
{% set attr = attr|merge({
    'data-image-field'             : form.vars.id,
    'data-image-modal'             : form.vars.modal,
    'data-image-cropper'           : form.vars.cropper,
    'data-image-lightbox'          : form.vars.lightbox,
    'data-image-mimetypes'         : form.vars.mime_types|join(','),
    'data-image-thumbnail'         : form.vars.thumbnail,
    'data-image-ajax'              : form.vars.ajax,
    'data-image-maxsize'           : form.vars.max_size,
    'data-image-maxsize[feedback]' : "@fields.fileupload.max_size_feedback"   | trans(["{0}"]),
    'data-image-uploadFailed'      : "@fields.fileupload.error.cannot_upload" | trans(),
}) %}

<div class="imageupload" {{ block('attributes') }}>

    {% if not multiple %}
        <figure>

            <img id="{{id}}_thumbnail" style="cursor: pointer;" src="{{ form.vars.value | thumbnail(600,600) | default(thumbnail) }}" />

            <figcaption id="{{id}}_figcaption">
                {% if form.vars.lightbox is defined and form.vars.lightbox is not empty %}
                <i class="fas fa-image fa-3x"></i>
                {% else %}
                <i class="fas fa-plus-circle fa-3x"></i>
                {% endif %}
            </figcaption>

            {% if form.vars.lightbox is defined and form.vars.lightbox is not empty %}
            <a href="{{form.vars.value|thumbnail(800,800)}}" data-lightbox='{{id}}_lightbox' id="{{id}}_lightbox" loading='lazy'></a>
            {% endif %}
        </figure>

        {% if cropper %}
        <div class="modal fade" id="{{id}}_modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header"><h5 class="modal-title">Image cropper</h5></div>
                    <div class="modal-body">
                        <div class="imageupload-cropper">
                            <img id="{{id}}_cropper" src="" class="imageupload-cropper-image" style="visibility:hidden">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-text text-muted">
                        {% if form.vars.max_size %}
                            {{"@fields.fileupload.max_size"|trans([form.vars.max_size|filesize])}}
                            <div id="{{id}}_modal_feedback" class="invalid-image"></div>
                        {% endif %}
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary {{id}}_modalClose">Cancel</button>
                            <button type="button" class="btn btn-primary" id="{{id}}_modalSave">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}

    <div class="imageupload-field">

        {% if form.alt is defined %}
            {%- set row_attr = row_attr|merge({'class': 'alt' ~ (row_attr.class is defined ? ' ' ~ row_attr.class : '')}) -%}
            {{ form_row(form.alt, {'label': form.alt.vars.label ?? "@fields.imageupload.alt"|trans, row_attr:row_attr})}}
        {% endif %}

        {{ form_widget(form, { attr: form.vars.attr }) }}
    </div>

</div>
{%- endblock -%}

{%- block fileupload_widget -%}

{% set attr = attr|merge({
    'data-file-sortable'              : form.vars.sortable,
    'data-file-lightbox'              : form.vars.lightbox,

    'data-file-ajax'                  : form.vars.ajax,
    'data-file-href'                  : form.vars.href|default("")|urldecode,
    'data-file-max-files'             : form.vars.max_files,

    'data-file-iconify'               : "fas fa-2x fa-search-plus"|iconify,
    'data-file-counter[none]'         : "@fields.fileupload.file_counter.none"       | trans(["{0}"]),
    'data-file-counter[singular]'     : "@fields.fileupload.file_counter.singular"   | trans(["{0}"]),
    'data-file-counter[plural]'       : "@fields.fileupload.file_counter.plural"     | trans(["{0}"]),
    'data-file-counter-max[none]'     : "@fields.fileupload.file_counter_max.none"    | trans(["{0}"]),
    'data-file-counter-max[singular]' : "@fields.fileupload.file_counter_max.singular"| trans(["{0}"]),
    'data-file-counter-max[plural]'   : "@fields.fileupload.file_counter_max.plural"  | trans(["{0}"])
}) %}

<div class="fileupload" data-file-field="{{ id }}" data-file-dropzone="{{form.vars.dropzone}}">
    <div class="field">
    {% if multiple and dropzone %}

        <div id="{{ id }}_dropzone" {{ block('attributes') }}></div>
        {{ form_widget(form.file, { id: id, value:value }) }}

    {% else %}

        {% set placeholder = '' %}
        {% set title = '' %}
        {% set filesLabel = 'files'|trans %}

        {{ form_widget(form.file, { attr: form.file.vars.attr}) }}

        <div class="input-group">
            {{ form_widget(form.raw, { attr: form.raw.vars.attr|merge({'class': (files is empty ? 'last' : "") ~ (form.raw.vars.attr.class is defined ? ' ' ~ form.raw.vars.attr.class : ''), accept: mime_types|join(',') }) }) }}
            {% if allow_delete and not form.vars.disabled %}
            <div id="{{id}}_deleteBtn" class="input-group-text deleteBtn {% if files is empty %}hidden{% endif %}">
                <span  style="cursor:pointer;">&#x2715;</span>
            </div>
            {% endif %}
        </div>

    {% endif %}
    </div>

    {% if form.vars.max_size %}
    <div class="form-filesize form-text text-muted">{{"@fields.fileupload.max_size"|trans([form.vars.max_size|filesize])}}</div>
    {% endif %}

    {% set exts = form.vars.mime_types|extensions %}
    {% if exts is not empty %}<div class="form-filesize form-text text-muted">{{"@fields.fileupload.mime_type"|trans([exts|length, exts|join(', ')|upper])}}</div>{% endif %}

    {%- set row_attr = row_attr|merge({'class': 'form-text text-muted' ~ (row_attr.class is defined ? ' ' ~ row_attr.class : '')} ) -%}
    {{ form_errors(form.raw, {row_attr:row_attr}) }}

    {% if multiple %}
    <div id="{{id}}_metadata" class="form-text text-muted">
        <div id="{{ id }}_loader" class="loader"><div class="loader-spinner"></div> {{ '@fields.fileupload.dropzone.spinner'|trans }}</div>
    </div>
    {% endif %}


</div>

{%- endblock -%}

{%- block associationfile_widget -%}
    {% for childForm in form.children %}
        {% set attr = childForm.vars.attr|merge({'data-entity-id': form.vars.entityId }) %}
        {{ form_widget(childForm, {attr:attr}) }}
    {% endfor %}
{% endblock associationfile_widget %}

{%- block associationfile_label -%}
    {{ form_label(form, null, {'required': required})}}

    {% if form.vars.href is not null and not form.vars.multiple and form.vars.value %}
    <a href="{{form.vars.href|urldecode|replace({'{0}': form.vars.value.id})}}">
        <i class="fas fa-external-link-square-alt"></i>
    </a>{% endif %}
    
{% endblock associationfile_label %}

{%- block association_label -%}
    {% if form.vars.multiple %}
        {{ form_label(form, null, {'required': false}) }}
    {% else %}
        {{ form_label(form, null, {'required': required}) }}
    {% endif %}
{%- endblock -%}

{%- block association_row -%}

    {% if form.parent.parent is null and multiple %}
    
        {% if form.children is iterable %}
             {# e.g. OneToMany relations result in such one-size array structure.. 
                     it is not clear to me why sometimes it does and sometimes not.. #}
            {% set formChild = form.children|first %}
        {% else %}
            {% set formChild = form.children %}
        {% endif %}

        {% if formChild.vars.prototype is defined and not formChild.vars.prototype.rendered %}
            {% set prototype_row = form_row(formChild.vars.prototype, {attr:{"class": "form-control"}}) %}
            {% set attr = attr|merge({ 'data-prototype': prototype_row}) %}
        {% endif %}

        {% set attr = attr|merge({
            'data-collection-field': 'true',
            'data-allow-add': formChild.vars.allow_add ? 'true' : 'false',
            'data-allow-delete': formChild.vars.allow_delete ? 'true' : 'false',
            'data-num-items': formChild.children|length,
            'data-form-type-name-placeholder': formChild.vars.prototype is defined ? formChild.vars.prototype.vars.name : '',
            'data-empty-collection': block('collection2_empty') 
        }) %}

        {% set attr = attr | filter((v, k) => k != 'class' and v != 'form-control')%}

        <div class="field-association form-group">
            {% if row_group %}
                {%- set attr = attr|merge({'class': 'form-collection form-group-row' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) -%}
                {{ form_label(form)}}
                <div {{ block('widget_attributes') }}>
                    {{ form_widget(formChild) }}
                </div>
            {% else %}
                {{ form_widget(form, {attr: attr}) }}
            {% endif %}
        </div>

    {% else %}

        {% set attr = attr | filter((v, k) => k != 'class' and v != 'form-control')%}
        {%- set attr = attr|merge({'class': 'form-group form-entity' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) -%}

        {% if group %}
            {{ form_widget(form, {attr: attr}) }}
        {% else %}

            <div class="form-association form-group">
                {{ form_label(form)}}
                <div {{ block('widget_attributes') }}>
                {{ form_widget(form) }}
                </div>
            </div>
        {% endif %}
    {% endif %}
    
{%- endblock -%}

{%- block collection2_row -%}

    {% if prototype is defined and not prototype.rendered %}
        {% set prototype_row = form_row(prototype, {attr:{"class": "form-control"}}) %}
        {% set attr = attr|merge({ 'data-prototype': prototype_row}) %}
    {% endif %}

    {% set attr = attr|merge({
        'data-collection-field': 'true',
        'data-allow-add': allow_add ? 'true' : 'false',
        'data-allow-delete': allow_delete ? 'true' : 'false',
        'data-num-items': form.children|length,
        'data-form-type-name-placeholder': prototype is defined ? prototype.vars.name : '',
        'data-empty-collection': block('collection2_empty')
    }) %}
    
    {%- set attr = attr | filter((v, k) => k != 'class' and v != 'form-control') -%}
    {%- set attr = attr|merge({'class': 'form-collection' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) -%}

    {% set group = form.vars.group %}
    {% if group == true %}
        {% if form.children is not empty or allow_add != false %}
        <div class="form-group">
            {{ form_label(form)}}

            <div {{ block('widget_attributes') }}>
                {{ form_widget(form) }}
            </div>

        </div>
        {% endif %}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}

{%- endblock collection2_row -%}

{%- block collection2_label -%}
    {{ form_label(form, null, {'required': false}) }}
{%- endblock -%}

{%- block collection2_widget -%}

    {# the "is iterable" check is needed because if an object implements __toString() and
               returns an empty string, "is empty" returns true even if it's not a collection #}

    {% set isEmptyCollection = value is null or (value is iterable and value is empty) %}
    {% if isEmptyCollection %}
        {{ block('collection2_empty') }}
    {% else %}
        {% set attr = attr|merge({'class': 'form-collection-items' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) %}
        {% if allow_add == false %}
            {% set attr = attr|merge({'class': 'form-collection-no-add-button' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) %}
        {% endif %}
        {{ form_widget(form, {attr: attr}) }}
    {% endif %}
    
    {% if group and allow_add %}
        <button type="button" class="btn btn-link form-collection-add-button">
            <i class="fa fa-plus pr-1"></i>
            {{ '@EasyAdminBundle.action.add_new_item'|trans }}
        </button>
    {% endif %}

{%- endblock collection2_widget -%}

{%- block collection2_entry_row -%}{{ form_row(form) }}{%- endblock collection2_entry_row -%}
{%- block collection2_entry_label -%}{# Empty label on purpose #}{%- endblock -%}
{%- block collection2_entry_widget -%}

    {% set group = form_parent(form).vars.group ?? false %}
    {% set row_group = form_parent(form).vars.row_group ?? false %}
    {% set collapsed = form_parent(form).vars.entry_collapsed ?? true %}

    {% if group %}

        {% set href = form_parent(form).vars.href ?? null %}
        {% set allows_deleting_items = form_parent(form).vars.allow_delete %}
        {% set delete_item_button %}
            <button type="button" class="btn btn-link btn-link-danger form-collection-delete-button"
                    title="{{ 'action.remove_item'|trans({}, 'EasyAdminBundle') }}">
                <i class="far fa-trash-alt"></i>
            </button>
        {% endset %}

        <div class="accordion form-collection-item">
            <div class="accordion-item">
                <h2 class="accordion-header">

                    {% set _href    =  href is iterable and form.vars.value is not null ? href[get_class(form.vars.value)] : href %}
                    {% set linkable = _href is not null and form.vars.value is not null and form.children is empty %}

                    {%- if linkable -%}
                        <a class="accordion-button {{ collapsed ? 'collapsed' : ''}}" href="{{_href|urldecode|replace({'{0}': form.vars.value.id})}}">
                    {%- else -%}
                        <button class="accordion-button {{ collapsed ? 'collapsed' : ''}}" {{ form.children is empty ? 'style="cursor:default;"' : '' }} 
                                type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}-contents">
                    {%- endif -%}

                        <i class="fas fw fa-chevron-right form-collection-item-collapse-marker"></i>
                        {% set label = form_parent(form).vars.entry_label ?? null %}
                        {% set label = is_callable(label) ? call_user_func_with_defaults(label, form.vars.label ? form.vars.label : form.vars.name|number_format, form.vars.value ?? form_parent(form).vars.entry_options.data_class ?? null) : null %}
                        {% if  label != false %}
                            {{ label|default(value)|stringify }}
                        {% endif %}

                    {{ linkable ? "</a>": "</button>" }}

                    <div class="form-collection-buttons">
                        {% if form.vars.value is not null %}
                        
                        <button type="button" class="btn btn-link form-collection-link-button">
                            {% if _href is not null %}
                                <a href="{{ _href }}">{{ "fas fa-fw fa-external-link-square-alt" | iconify}}</a>
                            {% else %}
                                {% set url = form.vars.value.__toUrl() ?? null %}                                
                                {{ url ? clipboard("copy", url, {style:"margin-left:0.25em;"})|raw : "" }}
                            {% endif %}
                        </button>
                        {% endif %}
                        {% if allows_deleting_items %}
                            {{ delete_item_button }}
                        {% endif %}
                    </div>
                </h2>

                {% if form.children is not empty %}
                <div id="{{ id }}-contents" class="accordion-collapse collapse {{ collapsed ? '' : 'show'}}">
                    <div class="accordion-body">
                        {{ form_widget(form, {attr:attr}) }}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

    {% else %}

        {% if row_group %}

            {% set label = form_parent(form).vars.entry_label %}
            {% set label = is_callable(label) ? call_user_func_with_defaults(label, form.vars.label ? form.vars.label : form.vars.name|number_format, form.vars.value ?? form_parent(form).vars.entry_options.data_class ?? null) : null %}
            {% if  label != false %}
                <label>
                    {{ label|default(value)|stringify }}
                    {% if form.vars.value is defined %}
                        {% set url = form.vars.value.__toUrl() ?? form.vars.href ?? null %}
                        {{ clipboard("copy", url, {style:"margin-left:0.25em;"})|raw }}
                    {% endif %}
                </label>
            {% endif %}

            <div class="form-collection-group">{{ form_widget(form, {attr:attr}) }}</div>

        {% else %}
            {{ form_widget(form, {attr:attr}) }}
        {% endif %}
        
    {% endif %}

{%- endblock collection2_entry_widget -%}

{%- block collection2_empty -%}
    <div class="empty collection-empty"></div>
{%- endblock collection2_empty -%}

{%- block array_row -%}

    {% if prototype is defined and not prototype.rendered %}
        {% set prototype_row = form_row(prototype, {attr:{"class": "form-control form-inline"}}) %}
        {% set attr = attr|merge({ 'data-prototype': prototype_row}) %}
    {% endif %}
    
    {% set attr = attr|merge({
        'data-array-field': 'true',
        'data-allow-add': allow_add ? 'true' : 'false',
        'data-allow-delete': allow_delete ? 'true' : 'false',
        'data-num-items': form.children|length,
        'data-form-type-name-placeholder': prototype is defined ? prototype.vars.name : '',
        'data-empty-array': block('array_empty')
    }) %}

    {% set attr = attr | filter((v, k) => k != 'class' and v != 'form-control')%}
    {%- set attr = attr|merge({'class': 'form-array' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) -%}

    {% if form.children is not empty or allow_add != false or form.vars.pattern is not empty %}
    <div class="form-group">
        <span>{{- form_label(form) -}}{{- form_help(form) -}}</span>

        {% if form.vars.pattern is not empty %}
            <div class="input-group mb-3">
                {% set pattern = pattern|preg_split("/{[0-9]*}/") %}
                {% for key,formChild in form %}
                    {% set prevPattern = pattern[key] ?? "" %}
                    {% if prevPattern is not empty %}
                        <div class="input-group-text">{{prevPattern}}</div>
                    {% endif %}
                    {{ form_widget(formChild) }}
                {% endfor %}
                
                {% if pattern|last is not empty %}
                    <div class="input-group-text">{{ pattern|last }}</div>
                {% endif %}
            </div>
        {% else %}
            <div {{ block('widget_attributes') }}>
                {{ form_widget(form) }}
            </div>
        {% endif %}
    </div>
    {% endif %}

{%- endblock array_row -%}

{%- block array_label -%}
    {{ form_label(form, null, {'required': false}) }}
{%- endblock -%}

{%- block array_widget -%}

    {# the "is iterable" check is needed because if an object implements __toString() and
               returns an empty string, "is empty" returns true even if it's not a array #}

    {% set isEmptyCollection = value is null or (value is iterable and value is empty) %}
    {% if  isEmptyCollection %}
        {{ block('array_empty') }}
    {% else %}
        {% set attr = attr|merge({'class': 'form-array-items' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) %}
        {{ form_widget(form, {attr: attr}) }}
    {% endif %}
    
    {% if allow_add %}
        <button type="button" class="btn btn-link form-array-add-button">
            <i class="fa fa-plus pr-1"></i>
            {{ '@EasyAdminBundle.action.add_new_item'|trans }}
        </button>
    {% endif %}

{%- endblock array_widget -%}

{%- block array_entry_row -%}
    {{ form_row(form) }}
{%- endblock array_entry_row -%}

{%- block array_entry_widget -%}
    
    {% set pattern = form_parent(form).vars.pattern|default("") %}
    {% set placeholder = form_parent(form).vars.placeholder|default([])%}
    {% set key = form.vars.name|intval %}

    {% if key in placeholder|keys and placeholder[key] is not empty %}
        {% set attr = attr|merge({'placeholder': placeholder[key]}) %}
    {% endif %}

    {% if pattern is not empty %}

        {{ form_widget(form, {attr:attr}) }}

    {% else %}

        {% set allows_deleting_items = form_parent(form).vars.allow_delete %}
        {% set delete_item_button %}
            <button type="button" class="btn btn-link btn-link-danger form-array-delete-button"
                    title="{{ 'action.remove_item'|trans({}, 'EasyAdminBundle') }}">
                <i class="far fa-trash-alt"></i>
            </button>
        {% endset %}

        <div class="accordion form-array-item">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}-contents">
                        <i class="fas fw fa-chevron-right form-array-item-collapse-marker"></i>
                        {{ form_widget(form, {attr:attr}) }}
                    </button>

                    {% if allows_deleting_items %}
                        {{ delete_item_button }}
                    {% endif %}
                </h2>
            </div>
        </div>
    {% endif %}

{%- endblock array_entry_widget -%}

{%- block array_empty -%}
    <div class="empty array-empty">
        {% if not form.vars.allow_add %}
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}-contents">
            <i class="fas fw fa-chevron-right form-array-item-collapse-marker"></i>
            {{"@fields.array.empty"|trans}}
        </button>
        {% endif %}
    </div>
{%- endblock array_empty -%}

{%- block stock_widget -%}
    
{% set attr = attr|merge({
    'data-stock-field': form.vars.id,
    'data-stock-unlimited': "@fields.stock.unlimited"|trans,
    "data-stock-up": form.vars.stepUp ?? 1,
    "data-stock-down": form.vars.stepDown ?? 1,
    "data-stock-min": form.vars.min is defined and form.vars.max > 0 ? form.vars.max : 0,
}) %}

{% if form.vars.max is defined %}
    {% set attr = attr|merge({"data-stock-max": form.vars.max}) %}
{% endif %}

<div class="input-group form-stock">
    <div class="input-group-text">
        <button class="btn btn-outline-secondary" id="{{form.vars.id}}-btn" type="button">
            <i class="fas fa-box-open"></i>
        </button>
    </div>
    {{ form_widget(form, {attr:attr}) }} {# NumberType is returning and input type text... #}
    {# <input type="number" {% with {attr: attr} %}{{ block('attributes') }}{% endwith %} id="{{form.vars.id}}"  name="{{form.vars.id}}" value="{{form.vars.value}}"> #}
    <div class="input-group-text">
        <button class="btn btn-outline-secondary" id="{{form.vars.id}}-down" type="button"><i class="fas fa-minus"></i></button>
    </div>
     <div class="input-group-text">
        <button class="btn btn-outline-secondary" id="{{form.vars.id}}-up" type="button"><i class="fas fa-plus"></i></button>
    </div>
</div>

{%- endblock -%}

{%- block number2_widget -%}
    
{% set attr = attr|merge({
    'data-number-field': form.vars.id,
    "data-number-up": form.vars.stepUp ?? 1,
    "data-number-down": form.vars.stepDown ?? 1,
    "data-number-up-throttle": form.vars.throttleUp ?? 0,
    "data-number-down-throttle": form.vars.throttleDown ?? 0,
}) %}

{% if form.vars.disabled %}
    {% set attr = attr|merge({"disabled": form.vars.disabled}) %}
{% endif %}

{% if form.vars.min %}{% set attr = attr|merge({"data-number-min": form.vars.min}) %}{% endif %}
{% if form.vars.max %}{% set attr = attr|merge({"data-number-max": form.vars.max}) %}{% endif %}

<div class="input-group form-number">

    {{ form_widget(form, {attr:attr}) }} {# NumberType is returning and input type text... #}
    {# <input type="number" {% with {attr: attr} %}{{ block('attributes') }}{% endwith %} id="{{form.vars.id}}"  name="{{form.vars.id}}" value="{{form.vars.value}}"> #}

    <div class="input-group-text">
        <button class="btn btn-outline-secondary" {{form.vars.disabled ? "disabled=disabled" : ""}} id="{{form.vars.id}}-down" type="button"><i class="fas fa-minus"></i></button>
    </div>
     <div class="input-group-text">
        <button class="btn btn-outline-secondary" {{form.vars.disabled ? "disabled=disabled" : ""}} id="{{form.vars.id}}-up" type="button"><i class="fas fa-plus"></i></button>
    </div>
</div>

{%- endblock -%}

{%- block cropper_widget -%}

{# Search for target inside form based on parent including translation #}
{% set form0 = form %}
{% set targetForm = form0.ancestor %}
{% for child in target %}

    {% set targetForm = targetForm[child] %}

    {% if child == "translations" %}
        {% if targetForm.vars.default_locale is defined and targetForm.vars.default_locale in targetForm|keys %}
            {% set targetForm = targetForm[targetForm.vars.default_locale] %}
        {% else %} 
            {% set targetForm = targetForm|first %}
        {% endif %}
    {% endif %}
{% endfor %}

{% set pivotForm = form0.ancestor %}
{% for child in pivot %}

    {% set pivotForm = pivotForm[child] %}

    {% if child == "translations" %}
        {% if pivotForm.vars.default_locale is defined and pivotForm.vars.default_locale in pivotForm|keys %}
            {% set pivotForm = pivotForm[pivotForm.vars.default_locale] %}
        {% else %} 
            {% set pivotForm = pivotForm|first %}
        {% endif %}
    {% endif %}
{% endfor %}

{% set attr = attr|merge({
    'data-cropper': form0.vars.cropper,
    'data-cropper-field': form0.vars.id,
    'data-cropper-pivot': pivotForm.vars.id,
    'data-cropper-positions': pivotForm.parent.vars.positions
}) %}

<div class="form-group form-cropper">
    <div class="cropper">
        <img id="{{ id }}_image" class="hidden" src="{{targetForm.vars.value|imagine|image}}">
        <div id="{{ id }}_loader" class="loader"><div class="loader-spinner"></div> {{ '@fields.fileupload.dropzone.spinner'|trans }}</div>

        <div class="hidden cropper-actions" id="{{ id }}_actions">
            <button class="btn btn-warning" type="button" data-cropper-reset="true">{{"fas fa-undo"|iconify}}</button>
            {% for label,aspectRatio in form0.vars.aspectRatios %}
            <button class="btn btn-primary" type="button" data-aspect-ratio="{{aspectRatio}}">{{label|trans}}</button>
            {% endfor %}
        </div>
    </div>

    {%- set attr = attr|merge({'class': 'form-cropper-fields' ~ (attr.class is defined ? ' ' ~ attr.class : '')} ) -%}
    {{ form_widget(form0, {attr:attr}) }}
</div>

{%- endblock -%}

{%- block quadrant_widget -%}

{% set nquadrants = count(form.vars.quadrants)-1 %}
{% set quadrants  = nquadrants < 8 ? "" : nquadrants %}
<div id="{{id}}_matrix">
{% include '@Base/form/quadrant/quadrant'~quadrants~'.html.twig' %}
</div>

{% set attr = attr|merge({
    'data-quadrant-field': form.vars.id,
    'data-quadrant-winds': nquadrants
}) %}

{{ form_widget(form.wind, {attr:attr, value:form.vars.value ?? form.vars.default}) }}

{%- endblock -%}

{%- block password_row -%}

    {# TODO.. #}
    {%- set row_attr = row_attr|merge({'class': 'col-md-6 form-group' ~ (row_attr.class is defined ? ' ' ~ row_attr.class : '')} ) -%}
    {{form_row(form, {row_attr:row_attr})}}

{%- endblock -%}

{%- block money_widget -%}

{# Search for target inside form based on parent including translation #}
{% set currencyForm = form.parent %}
{% for child in currency_target %}

    {% set currencyForm = currencyForm[child] %}

    {% if child == "translations" %}
        {% if currencyForm.vars.default_locale is defined and currencyForm.vars.default_locale in currencyForm|keys %}
            {% set currencyForm = currencyForm[currencyForm.vars.default_locale] %}
        {% else %} 
            {% set currencyForm = currencyForm|first %}
        {% endif %}
    {% endif %}
{% endfor %}

{% set attr = attr|merge({
    'data-currency-field': currencyForm.vars.id,
    'data-scale-field': form.vars.scale ?? ''
}) %}

<div class="input-group form-money">

    {{ block('form_widget') }}
    <div class="input-group-append">
        {% set currency_list = form.vars.currency_list is defined ? form.vars.currency_list : [] %}
        {%  if currency_list is empty or currency_list is not iterable %}
            <button id="{{form.vars.id}}-btn" class="input-group-text" type="button">
                {{form.vars.currency_pattern|trans({"{{ widget }}":""})|trim}}
                {{form.vars.currency_label ?? ""|trim}}
            </button>
        {% else %}
            {% set code     = currency %}
            {% set label    = currency_label[code] ?? code %}
            {% set exchange = currency_exchange[code] ?? 1 %}
            <button id="{{form.vars.id}}-btn" class="input-group-text dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{label}}</button>
            <ul id="{{form.vars.id}}-list" class="dropdown-menu dropdown-menu-end" >

                <li id="{{form.vars.id}}-selected" data-label="{{label}}" data-code="{{code}}" data-exchange="{{ exchange }}"><a class="dropdown-item">{{label}}</a></li>
                <li><hr class="dropdown-divider"></li>

                {% for code in currency_list %}
                    {% set label    = currency_label[code] ?? code %}
                    {% set exchange = currency_exchange[code] ?? 1 %}
                    <li class="item" data-label="{{label}}" data-code="{{code}}" data-exchange="{{ exchange }}"><a class="text-right dropdown-item">{{label}}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

{%- endblock -%}

{% block color_pickr %}

{% set attr = attr|merge({
        'data-color-field': form.vars.id,
        'data-options': pickr | json_encode,
    })
%}

{{ form_widget(form, {attr: attr}) }}
{% endblock %}
