<div class="{{ breadcrumb.option('class') }}">
    <ul class="breadcrumb-list">
        {% for item in breadcrumb %}
            {% set label = item.label %}
            {% if label is not empty %}
            <li class="{{breadcrumb.option('class_item')}}">

                {% set icon = breadcrumb.option('icons')[loop.revindex0] ?? null %}
                {% if item.url is not null and not loop.last %}
                    <span><a class="breadcrumb-link" href="{{item.url}}">{{ icon|iconify|first|raw }} {{label|raw}}</a></span>
                {% else %}
                    <span>{{ icon|iconify|first|raw }} {{label|raw}}</span>
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>