<div class="{{ breadcrumb.option('class') }}">
    <ul class="breadcrumb-list">
        {% for item in breadcrumb %}
        <li class="{{breadcrumb.option('class_item')}}">

            {% set icon = breadcrumb.option('icons')[loop.revindex0] ?? null %}
            {% if item.url is not null and not loop.last %}
                <a class="breadcrumb-link" href="{{item.url}}">{{ icon|iconify|raw }} {{item.label}}</a>
            {% else %}
                <span>{{ icon|iconify|raw }} {{item.label}}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>