{% extends 'layout1.html.twig' %}

{% block content %}
{% if birthdate is defined and birthdate is not null %}
<div class="container text-center">
    {% if is_born %}
        <p>{{ '@controllers.security_birthdate.title.open'|trans([app.site.index])|raw }}</pp>
    {% else %} 
        <h2>{{ '@controllers.security_birthdate.title.appointment' | trans }}</h2><br/>
        <p>{{ birthdate }}</p>
    {% endif %}
</div>
{% else %}
<div class="container text-center">
    <h2>{{ '@controllers.security_birthdate.title.default' | trans }}</h2><br/>
    <p>{{ "@controllers.security_birthdate.no_estimate"|trans }}</p>
</div>
{% endif %}
{% endblock %}