{% extends 'layout1.html.twig' %}

{% block content %}
{% if launchdate is defined and launchdate is not null %}
<div class="container text-center">
    {% if is_launched %}
        <p>{{ '@controllers.security_launchdate.title.open'|trans([app.site.index])|raw }}</p>
    {% else %} 
        <h2>{{ '@controllers.security_launchdate.title.appointment' | trans }}</h2><br/>
        <p>{{ launchdate }}</p>
    {% endif %}
</div>
{% else %}
<div class="container text-center">
    <h2>{{ '@controllers.security_launchdate.title.default' | trans }}</h2><br/>
    <p>{{ "@controllers.security_launchdate.no_estimate"|trans }}</p>
</div>
{% endif %}
{% endblock %}