{% extends 'layout1.html.twig' %}

{% block title %}{{'@forms.login.title'|trans}}{% endblock %}

{% block content %}
<article class="login wrapper">
<div class="card">
    <div class="card-header">
        <h3 class="text-center">{{'@forms.login.title'|trans}}</h3>
    </div>
    <div class="card-body" >
        {{ form_start(form) }}

        <input type="hidden" name="_target_path" value="{{ app.referrer }}"/>

        <div class="col d-flex justify-content-center">
        <div class="input-group form-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa-fw fa-solid fa-at"></i></span>
            </div>
            {{ form_widget(form.email, {attr:{placeholder:'@forms.login.email'|trans}}) }}
        </div>
        </div>
        
        <hr>

        <div class="col d-flex justify-content-center">{{ form_rest(form) }}</div>
        <div class="col d-flex login-btn justify-content-center">
            <button class="btn btn-lg btn-primary m-1" type="submit">{{ '@forms.login.sendEmail'|trans }}</button>
            <a class="btn btn-lg btn-warning m-1" href="{{ path('security_login') }}">{{ '@forms.login.classic'|trans }}</a>
        </div>
        {{ form_end(form) }}
    </div>

    <div class="card-footer">
        <div class="text-center">
            {{'@forms.login.noAccount'|trans}}
            <a href="{{ path('security_register') }}">{{'@forms.register.submit'|trans}}</a>
        </div>
        <div class="text-center">
            <a href="{{ path("security_resetPassword") }}">{{'@forms.login.forgotPassword'|trans}}</a>
        </div>
    </div>
</article>
{% endblock %}
