{% extends 'layout1.html.twig' %}

{% block title %}{{'@forms.login.title'|trans}}{% endblock %}

{% block content %}
<article class="login wrapper">
<div class="card">
    <div class="card-header">
        <h3 class="text-center">{{'@forms.login.title'|trans}}</h3>
    </div>
    <div class="card-body" >
        {{ form_start(form) }}

        <input type="hidden" name="_target_path" value="{{ app.referrer }}"/>

        <div class="col d-flex justify-content-center">
        <div class="input-group form-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa-fw fa-solid fa-user"></i></span>
            </div>
            {{ form_widget(form.identifier, {attr:{placeholder:'@forms.login.identifier'|trans}}) }}
        </div>
        </div>

        <div class="col d-flex justify-content-center">
        <div class="input-group form-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa-fw fa-solid fa-key"></i></span>
            </div>
            {{ form_widget(form.password, {attr:{ placeholder:'@forms.login.password'|trans}}) }}

        </div>
        </div>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        
        <div class="col d-flex justify-content-center">
            <div class=" form-group form-check form-switch form-switch-lg">
                {{ form_widget(form._remember_me) }}
                {{ form_label(form._remember_me, '@forms.login.rememberMe'|trans) }}
            </div>
        </div>
        <hr>

        <div class="col d-flex justify-content-center">
            {{ form_rest(form) }}
        </div>

        <div class="col d-flex  flex-column justify-content-center">
            {% if form.vars.allow_login_token %}
            <a class="btn btn-lg btn-success" href="{{ path('security_loginByToken') }}">{{ '@forms.login.byToken'|trans }}</button>
            {% endif %}
            <button class="btn btn-lg btn-primary" type="submit">{{ '@forms.login.submit'|trans }}</button>
        </div>
        {{ form_end(form) }}
    </div>

    <div class="card-footer">
        <div class="text-center">
            {{'@forms.login.noAccount'|trans}}
            <a href="{{ path('security_register') }}">{{'@forms.register.submit'|trans}}</a>
        </div>
        <div class="text-center">
            <a href="{{ path("security_resetPassword") }}">{{'@forms.login.forgotPassword'|trans}}</a>
        </div>
    </div>
</article>
{% endblock %}
