{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var action \EasyCorp\Bundle\EasyAdminBundle\Dto\ActionDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% if 'a' == action.htmlElement %}

    {% set linkUrl = action.linkUrl %}
    {% if action.crudActionName == "index" and action.type == "entity" %}
        {% set linkUrl = app.request.get("referrer") ?? linkUrl %}
    {% endif %}

    <a class="{{ isIncludedInDropdown|default(false) ? 'dropdown-item' }} {{ action.cssClass }}"
       href="{{ linkUrl }}"
       {% for name, value in action.htmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
        {%- if action.icon %}<i class="action-icon {{ action.icon }}"></i> {% endif -%}
        <span>{%- if action.label is not empty -%}{{ action.label }}{%- endif -%}</span>
    </a>

{% elseif 'button' == action.htmlElement %}

    <button class="{{ action.cssClass }}" {% for name, value in action.htmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
        <span class="btn-label">
            {%- if action.icon %}<i class="action-icon {{ action.icon }}"></i> {% endif -%}
            {%- if action.label is not empty -%}{{ action.label }}{%- endif -%}
        </span>
    </button>

{% elseif 'discriminator' == action.htmlElement %}

    <span class="input-group dropdown {{ action.type == 'entity' ? 'd-inline' : ''}} action-discriminator">

    {% set actionHtmlAttributes = action.htmlAttributes %}
    {% set discriminatorMap     = actionHtmlAttributes["map"] %}
    {% set actionHtmlAttributes = actionHtmlAttributes | filter((v, k) => k != 'map') %}
    {% set rootEntity           = actionHtmlAttributes["root-entity"] %}
    {% set actionHtmlAttributes = actionHtmlAttributes | filter((v, k) => k != 'root-entity') %}

    {% set singleEntity = false %}
    {% for group, entities in discriminatorMap %}
        {% if not singleEntity %}
            {% set singleEntity = discriminatorMap|length == 1 and entities|length == 1 %}
        {% endif %}
    {% endfor %}

    {% set isRootEntityAllowed = false %}
    {% for group, entities in discriminatorMap %}
        {% if not isRootEntityAllowed %}
            {% set isRootEntityAllowed = (rootEntity in entities) %}
        {% endif %}
    {% endfor %}

    {% if isRootEntityAllowed %}
    
        <a class="{{ action.cssClass }}" href="{{ action.linkUrl }}" {% for name, value in actionHtmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
            {%- if action.icon %}<i class="action-icon {{ action.icon }}"></i>{% endif -%}
            {%- if action.label is not empty -%}{{ action.label }}{%- endif -%}
        </a>

        {% if discriminatorMap|length > 0 %}
        <button type="button" class="btn btn-primary dropdown-toggle root-allowed dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden"></span>
        </button>
        {% endif %}

    {% else %}

        <span class="dropdown-toggle {{ action.cssClass }}" {% for name, value in actionHtmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}  data-bs-toggle="dropdown" aria-expanded="false">
            {%- if action.icon %}<i class="action-icon {{ action.icon }}"></i>{% endif -%}
            {%- if action.label is not empty -%}{{ action.label }}{%- endif -%}
        </span>

    {% endif %}

    {% if discriminatorMap|length > 0 %}
    <ul class="dropdown-menu dropdown-menu-end">
        {% for group,entities in discriminatorMap %}
            {% if entities|length != 1 %}
                {% if not loop.first %} <li><hr class="dropdown-divider"></li>{% endif %}
                {% if group is not empty %}<li class="dropdown-item label-group">{{("@entities."~group~".singular")|trans|capitalize }}</li>{% endif %}
            {% endif %}

            {% for entity in entities %}

                {% set icon    = static_call(entity|urldecode, "getEntityIcon")|default(null) %}
                {% set label   = static_call(entity|urldecode, "getEntityLabelInSingular")|trans|capitalize %}
                {% set linkUrl = action.linkUrl|replace({(rootEntity): entity}) %}

                <li class="dropdown-item label-item"><a href="{{ linkUrl }}"
                    {% for name, value in actionHtmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
                    {% if icon is not empty %} <i class="action-icon {{ icon|raw }}"></i>{% endif %}
                    {{label}}
                </a></li>

            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}
</span>

{% endif %}
