{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var action \EasyCorp\Bundle\EasyAdminBundle\Dto\ActionDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% if 'a' == action.htmlElement %}

    {% set linkUrl = action.linkUrl %}
    {% if action.crudActionName == "index" and action.type == "entity" %}
        {% set linkUrl = app.request.get("referrer") ?? linkUrl %}
    {% endif %}

    {% if linkUrl is not empty %}
    <a class="{{ isIncludedInDropdown|default(false) ? 'dropdown-item' }} {{ action.cssClass }}"
       href="{{ linkUrl }}"
       {% for name, value in action.htmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
        {%- if action.icon %}<i class="action-icon {{ action.icon }}"></i> {% endif -%}
        <span>
            {% set actionLabel = action.label|trans(domain = ea.getTranslationDomain()) %}
            {{- actionLabel != action.label ? actionLabel : action.label|trans|mb_ucfirst -}}
        </span>
    </a>
    {% endif %}

{% elseif 'separator' == action.htmlElement %}

    <span class="{{ action.cssClass }}" {% for name, value in action.htmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}></span>

{% elseif 'button' == action.htmlElement %}

    {% set actionLabel = action.label|trans(domain = ea.getTranslationDomain()) %}

    {% if action.crudActionName == "group" %}
        TODO..
        <span class="input-group dropdown {{ action.type == 'entity' ? 'd-inline' : ''}} action-discriminator">
        {#
            {% set actionHtmlAttributes = action.htmlAttributes %}
            {% set discriminatorMap     = actionHtmlAttributes["li"] %}
            {% set actionHtmlAttributes = actionHtmlAttributes | filter((v, k) => k != 'li') %}

            <a class="{{ action.cssClass }}" href="{{ action.linkUrl }}" {% for name, value in actionHtmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
                {%- if action.icon %}<i class="action-icon {{ action.icon }}"></i>{% endif -%}
                {% set actionLabel = action.label|trans(domain = ea.getTranslationDomain()) %}
                {{- actionLabel != action.label ? actionLabel : action.label|trans|mb_ucfirst -}}
            </a>

            {% if discriminatorMap|length > 0 %}
            <button type="button" class="btn btn-primary dropdown-toggle root-allowed dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden"></span>
            </button>
            {% endif %}

            {% if discriminatorMap|length > 0 %}
            <ul class="dropdown-menu dropdown-menu-end">
                {% for group,entities in discriminatorMap %}
                    {% if entities|length != 1 %}
                        {% if not loop.first %} <li><hr class="dropdown-divider"></li>{% endif %}
                        {% if group is not empty %}
                            <li class="dropdown-item label-group">
                            {% set label = ("@entities."~group~".singular")|trans(domain = ea.getTranslationDomain()) %}
                            {{- label !=  ("@entities."~group~".singular") ? label|capitalize : action.label|trans|capitalize -}}
                            </li>
                        {% endif %}
                    {% endif %}

                    {% for crudEntity in entities %}

                        {% set icon    = static_call(crudEntity|urldecode, "getEntityIcon")|default(null) %}
                        {% set label   = static_call(crudEntity|urldecode, "getEntityLabelInSingular")|trans(domain = ea.getTranslationDomain()) %}
                        {% set linkUrl = action.linkUrl|replace({(crud): (crudEntity)}) %}
                        <li class="dropdown-item label-item"><a class="dropdown-item-link" href="{{ linkUrl }}"
                            {% for name, value in actionHtmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
                            {% if icon is not empty %} <i class="action-icon {{ icon|raw }}"></i>{% endif %}
                            {{- label !=  static_call(crudEntity|urldecode, "getEntityLabelInSingular") ? label|capitalize : action.label|trans|capitalize -}}
                        </a></li>

                    {% endfor %}
                {% endfor %}
            </ul>
            {% endif %} #}
        </span>

    {% else %}
        <button class="{{ action.cssClass }}" {% for name, value in action.htmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}
        data-toggle="tooltip" title="{{- actionLabel != action.label ? actionLabel : action.label|trans|e('html_attr')|mb_ucfirst -}}">
            <span class="btn-label">
                <i class="{{ action.icon|default("far fa-question-circle") }}"></i>
            </span>
        </button>
    {% endif %}

{% elseif 'tooltip' == action.htmlElement %}

    {% set linkUrl = action.linkUrl %}
    {% if action.crudActionName == "index" and action.type == "entity" %}
        {% set linkUrl = app.request.get("referrer") ?? linkUrl %}
    {% endif %}

    {% if linkUrl is not empty %}
        {% set actionLabel = action.label|trans(domain = ea.getTranslationDomain()) %}
        <a href="{{ linkUrl }}" class="{{ action.cssClass }}"
        {% for name, value in action.htmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}
            data-toggle="tooltip" title="{{- actionLabel != action.label ? actionLabel : action.label|trans|e('html_attr')|mb_ucfirst -}}">
            <span class="btn-label">
                <i class="{{ action.icon|default("far fa-question-circle") }}"></i>
            </span>
        </a>
    {% endif %}

{% elseif 'discriminator' == action.htmlElement %}

    <span class="input-group dropdown {{ action.type == 'entity' ? 'd-inline' : ''}} action-discriminator">

    {% set actionHtmlAttributes = action.htmlAttributes %}
    {% set discriminatorMap     = actionHtmlAttributes["map"] %}
    {% set actionHtmlAttributes = actionHtmlAttributes | filter((v, k) => k != 'map') %}
    {% set crud                 = actionHtmlAttributes["crud"] %}
    {% set rootCrud             = actionHtmlAttributes["root-crud"] %}

    {% set actionHtmlAttributes = actionHtmlAttributes | filter((v, k) => k != 'crud') %}
    {% set actionHtmlAttributes = actionHtmlAttributes | filter((v, k) => k != 'root-crud') %}

    {% set singleEntity = false %}
    {% for group, entities in discriminatorMap %}
        {% if not singleEntity %}
            {% set singleEntity = discriminatorMap|length == 1 and entities|length == 1 %}
        {% endif %}
    {% endfor %}

    {% set isRootEntityAllowed = false %}
    {% for group, entities in discriminatorMap %}
        {% if not isRootEntityAllowed %}
            {% set isRootEntityAllowed = (rootCrud in entities) %}
        {% endif %}
    {% endfor %}

    {% if isRootEntityAllowed %}

        <a class="{{ action.cssClass }}" href="{{ action.linkUrl }}" {% for name, value in actionHtmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
            {%- if action.icon %}<i class="action-icon {{ action.icon }}"></i>{% endif -%}
            {% set actionLabel = action.label|trans(domain = ea.getTranslationDomain()) %}
            {{- actionLabel != action.label ? actionLabel : action.label|trans|mb_ucfirst -}}
        </a>

        {% if discriminatorMap|length > 0 %}
        <button type="button" class="btn btn-primary dropdown-toggle root-allowed dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden"></span>
        </button>
        {% endif %}

    {% else %}

        <span class="dropdown-toggle {{ action.cssClass }}" {% for name, value in actionHtmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}  data-bs-toggle="dropdown" aria-expanded="false">
            {%- if action.icon %}<i class="action-icon {{ action.icon }}"></i>{% endif -%}
            {% set actionLabel = action.label|trans(domain = ea.getTranslationDomain()) %}
            {{- actionLabel != action.label ? actionLabel : action.label|trans|mb_ucfirst -}}
        </span>

    {% endif %}

    {% if discriminatorMap|length > 0 %}
    <ul class="dropdown-menu dropdown-menu-end">
        {% for group,entities in discriminatorMap %}
            {% if entities|length != 1 %}
                {% if not loop.first %} <li><hr class="dropdown-divider"></li>{% endif %}
                {% if group is not empty %}
                    <li class="dropdown-item label-group">
                    {% set label = ("@entities."~group~".singular")|trans(domain = ea.getTranslationDomain()) %}
                    {{- label !=  ("@entities."~group~".singular") ? label|capitalize : action.label|trans|capitalize -}}
                    </li>
                {% endif %}
            {% endif %}

            {% for crudEntity in entities %}

                {% set icon    = static_call(crudEntity|urldecode, "getEntityIcon")|default(null) %}
                {% set label   = static_call(crudEntity|urldecode, "getEntityLabelInSingular")|trans(domain = ea.getTranslationDomain()) %}
                {% set linkUrl = action.linkUrl|replace({(crud): (crudEntity)}) %}
                <li class="dropdown-item label-item"><a class="dropdown-item-link" href="{{ linkUrl }}"
                    {% for name, value in actionHtmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
                    {% if icon is not empty %} <i class="action-icon {{ icon|raw }}"></i>{% endif %}
                    {{- label !=  static_call(crudEntity|urldecode, "getEntityLabelInSingular") ? label|capitalize : action.label|trans|capitalize -}}
                </a></li>

            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}
</span>

{% else %}
    <span class="text-danger"><i class="action-icon fas fa-fw fa-exclamation-triangle"></i>
    {% set actionLabel = action.label|trans(domain = ea.getTranslationDomain()) %}
    "{{ actionLabel != action.label ? actionLabel : action.label|trans|mb_ucfirst }}" cannot be rendered as "{{action.htmlElement}}"
    </span>
{% endif %}
