{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var action \EasyCorp\Bundle\EasyAdminBundle\Dto\ActionDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% if 'a' == action.htmlElement %}

    {% set linkUrl = action.linkUrl %}
    {% if action.crudActionName == "index" and action.type == "entity" %}
        {% set linkUrl = app.request.get("referrer") ?? linkUrl %}
    {% endif %}

    {% set actionLabel = action.label|trans_quiet(domain = ea.getTranslationDomain())|default(action.label|trans_quiet)|default(action.label) %}

    {% if linkUrl is not empty %}
        {% set renderTooltip = action.htmlAttributes.tooltip ?? false %}
        {% if renderTooltip %}
            <a {% if linkUrl is not empty %} href="{{ linkUrl|trim('"') }}" {% endif %} class="{{ action.cssClass }}
            {% for name, value in action.htmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}
                data-toggle="tooltip" data-placement="bottom" title="{{- actionLabel ? actionLabel|mb_ucfirst : "" -}}">
                    <i class="action-icon {{ action.icon|default("fa-regular fa-question-circle") }}"></i>
            </a>
        {% else %}
            <a {% if linkUrl is not empty %} href="{{ linkUrl|trim('"') }}" {% endif %} class="{{ isIncludedInDropdown|default(false) ? 'dropdown-item' }} {{ action.cssClass }}"
            {% for name, value in action.htmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
               {%- if action.icon %}<i class="action-icon {{ action.icon }}"></i> {% endif -%}
                <span>{{- actionLabel ? actionLabel|mb_ucfirst : "" -}}</span>
            </a>
        {% endif %}
    {% endif %}

{% elseif 'separator' == action.htmlElement %}

    <span class="{{ action.cssClass }}" {% for name, value in action.htmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}></span>

{% elseif 'button' == action.htmlElement %}

    {% set actionLabel = action.label|trans_quiet(domain = ea.getTranslationDomain())|default(action.label|trans_quiet)|default(action.label) %}

    {% if action.crudActionName == "group" %}
        <span class="input-group dropdown {{ action.type == 'entity' ? 'd-inline' : ''}} action-discriminator">
        {#
            {% set actionHtmlAttributes = action.htmlAttributes %}
            {% set discriminatorMap     = actionHtmlAttributes["li"] %}
            {% set actionHtmlAttributes = actionHtmlAttributes | filter((v, k) => k != 'li') %}

            <a class="{{ action.cssClass }}" href="{{ action.linkUrl }}" {% for name, value in actionHtmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
                {%- if action.icon %}<i class="action-icon {{ action.icon }}"></i>{% endif -%}
                {% set actionLabel = action.label|trans(domain = ea.getTranslationDomain()) %}
                {{- actionLabel != action.label ? actionLabel : action.label|trans|mb_ucfirst -}}
            </a>

            {% if discriminatorMap|length > 0 %}
            <button type="button" class="btn btn-primary dropdown-toggle root-allowed dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden"></span>
            </button>
            {% endif %}

            {% if discriminatorMap|length > 0 %}
            <ul class="dropdown-menu dropdown-menu-end">
                {% for group,entities in discriminatorMap %}
                    {% if entities|length != 1 %}
                        {% if not loop.first %} <li><hr class="dropdown-divider"></li>{% endif %}
                        {% if group is not empty %}
                            <li class="dropdown-item label-group">
                            {% set label = ("@entities."~group~"._singular")|trans(domain = ea.getTranslationDomain()) %}
                            {{- label !=  ("@entities."~group~"._singular") ? label|capitalize : action.label|trans|capitalize -}}
                            </li>
                        {% endif %}
                    {% endif %}

                    {% for crudEntity in entities %}

                        {% set icon    = static_call(crudEntity|url_decode, "getEntityIcon")|default(null) %}
                        {% set label   = static_call(crudEntity|url_decode, "getEntityLabelInSingular")|trans(domain = ea.getTranslationDomain()) %}
                        {% set linkUrl = action.linkUrl|replace({(crud): (crudEntity)}) %}
                        <li class="dropdown-item label-item"><a class="dropdown-item-link" href="{{ linkUrl }}"
                            {% for name, value in actionHtmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
                            {% if icon is not empty %} <i class="action-icon {{ icon|raw }}"></i>{% endif %}
                            {{- label !=  static_call(crudEntity|url_decode, "getEntityLabelInSingular") ? label|capitalize : action.label|trans|capitalize -}}
                        </a></li>

                    {% endfor %}
                {% endfor %}
            </ul>
            {% endif %} #}
        </span>

    {% else %}

        {% set renderTooltip = action.htmlAttributes.tooltip ?? false %}
        {% if renderTooltip %}
            <button class="{{ action.cssClass }}" {% for name, value in action.htmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}
            data-toggle="tooltip" data-placement="bottom" title="{{- actionLabel ? actionLabel|mb_ucfirst : "" -}}">
                <span class="btn-label">
                    <i class="{{ action.icon|default("fa-regular fa-question-circle") }}"></i>
                </span>
            </button>
        {% else %}
            <button class="{{ action.cssClass }}" {% for name, value in action.htmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
                <span class="btn-label">
                    {%- if action.icon %}<i class="action-icon {{ action.icon }}"></i> {% endif -%}
                    {%- if action.label is not empty -%}<span class="action-label">{{ action.label|trans|raw }}</span>{%- endif -%}
                </span>
            </button>
        {% endif %}

    {% endif %}

{% elseif 'discriminator' == action.htmlElement %}

    <span class="input-group dropdown {{ action.type == 'entity' ? 'd-inline' : ''}} action-discriminator">

    {% set actionHtmlAttributes = action.htmlAttributes %}
    {% set discriminatorMap     = actionHtmlAttributes["map"] %}
    {% set actionHtmlAttributes = actionHtmlAttributes | filter((v, k) => k != 'map') %}
    {% set crud                 = actionHtmlAttributes["crud"] %}
    {% set rootCrud             = actionHtmlAttributes["root-crud"] %}

    {% set actionHtmlAttributes = actionHtmlAttributes | filter((v, k) => k != 'crud') %}
    {% set actionHtmlAttributes = actionHtmlAttributes | filter((v, k) => k != 'root-crud') %}

    {% set singleEntity = false %}
    {% for group, entities in discriminatorMap %}
        {% if not singleEntity %}
            {% set singleEntity = discriminatorMap|length == 1 and entities|length == 1 %}
        {% endif %}
    {% endfor %}

    {% set instantiable = false %}

    {% for group, entities in discriminatorMap %}
        {% if not instantiable %}
            {% set instantiable = (crud in entities) and static_call(crud|url_decode, "isInstantiable") %}
        {% endif %}
    {% endfor %}

    {% if instantiable %}
        <a class="{{ action.cssClass }}" href="{{ action.linkUrl }}" {% for name, value in actionHtmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
            {%- if action.icon %}<i class="action-icon {{ action.icon }}"></i>{% endif -%}
            {% set actionLabel = action.label|trans_quiet(domain = ea.getTranslationDomain())|default(action.label|trans_quiet)|default(action.label) %}
            {{- actionLabel ? actionLabel|mb_ucfirst : "" -}}
        </a>
        
        {% if discriminatorMap|count_leaves > 0 %}
        <button type="button" class="btn btn-primary dropdown-toggle root-allowed dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden"></span>
        </button>
        {% endif %}
    {% else %}
        <span class="{{ discriminatorMap|count_leaves < 1 ? "disabled" }} dropdown-toggle {{ action.cssClass }}" {% for name, value in actionHtmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}  data-bs-toggle="dropdown" aria-expanded="false">
            {%- if action.icon %}<i class="action-icon {{ action.icon }}"></i>{% endif -%}
            {% set actionLabel = action.label|trans_quiet(domain = ea.getTranslationDomain())|default(action.label|trans_quiet)|default(action.label) %}
            {{- actionLabel ? actionLabel|mb_ucfirst : "" -}}
        </span>
    {% endif %}

    {% if discriminatorMap|count_leaves > 0 %}
    <ul class="dropdown-menu dropdown-menu-end">
        {% for group,entities in discriminatorMap %}

            {% if entities|length != 1 %}
                {% if not loop.first %} <li><hr class="dropdown-divider"></li>{% endif %}
                {% if group is not empty %}
                    <li class="dropdown-item label-group">
                     {{ group|trans_entity|capitalize -}}
                    </li>
                {% endif %}
            {% endif %}

            {% set instantiableCrudEntity = entities|reverse|filter(crudEntity => static_call(crudEntity|url_decode, "isInstantiable")) %}
            {% for crudEntity in instantiableCrudEntity %}

                {% set icon    = static_call(crudEntity|url_decode, "getEntityIcon")|default(null) %}
                {% set label   = static_call(crudEntity|url_decode, "getEntityLabelInSingular")|trans(domain = ea.getTranslationDomain()) %}
                {% set linkUrl = action.linkUrl|replace({(crud): (crudEntity)}) %}

                <li class="dropdown-item label-item"><a class="dropdown-item-link" href="{{ linkUrl }}"
                    {% for name, value in actionHtmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
                    {% if icon is not empty %} <i class="action-icon {{ icon|raw }}"></i>{% endif %}
                    {{- static_call(crudEntity|url_decode, "getEntityLabelInSingular")|trans|mb_ucfirst -}}
                </a></li>

            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}
</span>

{% else %}
    <span class="text-danger"><i class="action-icon fa-solid fa-fw fa-exclamation-triangle"></i>
    {% set actionLabel = action.label|trans_quiet(domain = ea.getTranslationDomain())|default(action.label|trans_quiet)|default(action.label) %}
    "{{- actionLabel ? actionLabel|mb_ucfirst : action.label -}}" cannot be rendered as "{{action.htmlElement}}"
    </span>
{% endif %}
