{% extends 'layout.html.twig' %}

{% block title %}Search for a thread{% endblock %}
{% block content %}

    {{ form_start(form) }}
        <h1 class="h3 mb-3 font-weight-normal">Search for thread</h1>

        {{ form_row(form.content) }}

        <button class="btn btn-lg btn-primary" type="submit">Search</button>
    {{ form_end(form) }}

    {% for thread in threads %}
    <hr>
    <h1>{{thread.title}}</h1>
    <p>{{thread.excerpt}}</p>
    {{thread.content}}
    <p>{{thread.getAuthor()}}</p>
    {% endfor %}
{% endblock %}
