{% extends 'layout1.html.twig' %}

{% block title %}{{ "@controllers.thread_search.title"|trans }}{% endblock %}
{% block main %}
    <section>
    <article class="wrapper extended">

        {{ form_start(form, {'attr': {'class': "form-inline"}}) }}

            <div class="d-flex justify-content-center flex-row flex-wrap">
                <h1 class="me-3">{{ '@controllers.thread_search.title'|trans }}</h1>
                <div class="input-group w-auto me-3">
                    <div class="form-outline">
                        {{ form_widget(form.generic, {'attr': {'placeholder': '@controllers.thread_search.searchbar'|trans}, value: form.vars.value.generic }) }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>

                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>

            {% if form.title is defined %}
            <div class="collapse" id="collapseExample">
            <p>
                <div class="card card-body">
                <div class="d-flex justify-content-center align-items-center flex-row flex-wrap">
                    <div class="input-group w-auto m-1">
                        {{ form_widget(form.title  , {'attr': {'placeholder': '@controllers.thread_search.title'|trans}, value: form.vars.value.title }) }}
                    </div> {{ "@messages.words.or"|trans }}
                    <div class="input-group w-auto m-1">
                        {{ form_widget(form.excerpt, {'attr': {'placeholder': '@controllers.thread_search.excerpt'|trans}, value: form.vars.value.excerpt }) }}
                    </div> {{ "@messages.words.or"|trans }}
                    <div class="input-group w-auto m-1">
                        {{ form_widget(form.content, {'attr': {'placeholder': '@controllers.thread_search.content'|trans}, value: form.vars.value.content }) }}
                    </div>
                </div>
                </div>
            </p>
            </div>
            {% endif %}
        {{ form_end(form) }}

    </article>

    {% if threads is defined %}

        {% if threads|length < 1 %}
        <article class="wrapper">
            <div class="header">{{ "@controllers.thread_search.no_resources"|trans }}</div>
        </article>
        {% else %}

            {% set lastSection = null %}
            {% for thread in threads %}

                {% set depth = thread.getRepository().getHierarchyDepth() %}

                {% if lastSection != thread.getRepository().getHierarchy() %}
                    <article class="wrapper extended hierarchy">
                    <h1 class="title">
                        {% for section in thread.getRepository().getHierarchyTree() %}
                        > {{ section|capitalize }}
                        {% endfor %}
                    </h1>
                    </article>
                    {% set lastSection = thread.getRepository().getHierarchy() %}
                {% endif %}

                <article class="wrapper extended">

                    <div class="header">

                        <ul class="field-avatar">
                            {% for owner in thread.owners|reverse %}
                            <li>{{ owner.getFormattedAvatar()|raw }}</li>
                            {% endfor %}
                        </ul>

                        <div class="text">

                            <h1 class="title">
                                {% set threadTitle = thread.title | highlight(model.title, -1) | default(thread.title) %}
                                {% if depth > 1 and thread.parent() != null %}
                                    {{ '@messages.thread_search.found'|trans([thread|trans_entity, thread.parent()|linkify]) | raw }}
                                {% else %}
                                    {{ threadTitle |raw }}
                                {% endif %}
                            </h1>

                            <div class="info">

                                {{ '@messages.base.datetime'|trans([
                                    thread.updatedAt()|datetime("dd MMMM YYYY"),
                                    thread.updatedAt()|datetime("HH:mm")
                                ])|raw }}&nbsp

                                {% if thread.owners|length > 2 %}
                                <br/>
                                {% endif %}

                                {{ '@messages.words.by'|trans }}
                                {% for owner in thread.owners %}
                                        {% if not loop.first %}
                                        {% if loop.last %} {{ '@messages.words.and'|trans }} {% else %}, {% endif %}
                                        {% endif %}
                                        <a href="/profile/{{ owner.username|lower }}">{{ owner.username }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    {% if thread.excerpt %}
                    <hr>
                    <div>{{ thread.excerpt | highlight(model.excerpt, -1) | default(thread.excerpt) | raw }}</div>
                    {% endif %}

                    {% set threadContent = thread.content |striptags | highlight(model.content, 25) %}
                    {% if not threadContent is empty %}
                    <hr>
                    <div class="ql-editor">{{ threadContent|raw }}</div>
                    {% endif %}

                    <p>
                        <div class="d-flex justify-content-end">
                            <a href="{{ thread.__toLink() }}" class="btn btn-primary">{{ ('@controllers.words.see_more') | trans | mb_ucfirst }}</a>
                        </div>
                    </p>
                </article>
            {% endfor %}
        {% endif %}
    {% endif %}
    </section>
{% endblock %}
