<a href='{{path}}' {{ html_attributes(attr_lightbox)}}>
    {{ lazyload ? "<div class='lazybox'>" : "" }}
    <img {{ lazyload ? "data-src" : "src" }}='{{ path }}' {{ html_attributes(attr) }} />
    {{ lazyload ? "</div>" : "" }}
</a>