{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% set displayLimit = field.customOptions.get('displayLimit') %}
{% set showFirst    = field.customOptions.get('showFirst') %}
{% set renderFormat = field.customOptions.get('renderFormat') ?? false %}

{% if renderFormat == "image" or renderFormat == "avatar" %}

    {% set counter = field.formattedValue.count %}
    
    {% if renderFormat == 'avatar' %}
        {% set icon = '<i class="fas fa-fw fa-user-circle fa-3x"></i>' %}
    {% else %}
        {% set icon = '<i class="fas fa-fw fa-image fa-3x"></i>' %}
    {% endif %}
    
    {% if field.value is iterable %}
        {% if ea.crud.currentAction == 'detail' %}
            {% set images = field.value %}
        {% else %}
            {% set path  = field.value|first %}
            {% set images = path is empty or null ? [] : [path] %}
        {% endif %}
    {% else %}
        {% set images = field.value is empty or null ? [] : [field.value] %}
    {% endif %}
    
    {% set entityFile    = field.formTypeOptions['entity_file'] ?? null %}
    {% for key, entity in images %}

        {% set image = attribute(entity, entityFile) %}
        {% set image = image is iterable ? image|first : image %}
        {% set image = image is not null ? image : "bundles/base/images.svg" %}

        {% if image is not null %}

            {% set html_id = 'ea-lightbox-' ~ field.uniqueId %}
            {% set class_index = ea.crud.currentAction != 'detail' ? 'ea-lightbox-association' : '' %}

            <a href="#" class="{{ class_index }} ea-lightbox-thumbnail" data-featherlight="#{{ html_id }}" data-ea-lightbox-content-selector="#{{ html_id }}" data-featherlight-close-on-click="anywhere">
                <div id="{{ html_id }}" class="img-fluid thumbnail-{{renderFormat}}">
                    <img src="{{ image }}">
                    {% if ea.crud.currentAction != 'detail' and counter > 1 %}<span>+{{counter-1}}</span>{% endif %}
                </div>
            </a>
            
            <div id="{{ html_id }}" class="ea-lightbox">
                <img src="{{ image }}">
            </div>
        {% endif %}
    {% endfor %}

    {% if images is empty %}
        {% if pageDetail %}
            {{ "@fields.fileupload.file_counter.none"|trans }}
        {% else %}
            {% set html_id = 'ea-lightbox-' ~ field.uniqueId %}
            <div id="{{ html_id }}" class="img-fluid thumbnail-{{renderFormat}}">{{ icon|raw }}</div>
        {% endif %}
    {% endif %}

{% elseif 'toMany' == field.customOptions.get('associationType') %}

    {% if showFirst and field.formattedValue.count is defined %}
        {% set displayLimit = displayLimit > 0 ? displayLimit - 1 : displayLimit %}
    {% endif %}

    {% set stillMore = "" %}
    {% set others = [] %}
    
    {% for other in field.formattedValue.others %}
        {% if displayLimit > others|length %}
            {% set others = others|merge([other]) %}
        {% elseif displayLimit > 0 %}
            {% set stillMore = others|length != 0 ? ", [..]" : "[..]" %}
        {% endif %}
    {% endfor %}

    {% if showFirst and field.formattedValue.count is defined %}

        {% set icon = null %}
        {% if method_exists(field.formattedValue.first, "__iconize") %}
            {% set icon = field.formattedValue.first.__iconize()[0] ?? null %}
        {% endif %}

        {% if icon is null and method_exists(field.formattedValue.first, "__staticIconize") %}
            {% set icon = field.formattedValue.first.__staticIconize()[0] ?? null %}
        {% endif %}

        {% set icon  = icon|fontAwesome({class:"fa-fw"})|default(icon|imagify)|default(null) %}
        {% if icon is not null %}
            {% set label = "<span class='label'>"~(field.formattedValue.first|capitalize)~"</span>" %}
        {% else %}
            {% set label = field.formattedValue.first|capitalize %}
        {% endif %}

        <span class="badge badge-secondary">
            {% if field.customOptions.get('relatedUrl') is not null %}
            <a href="{{ field.customOptions.get('relatedUrl') }}">{{ label|raw }}{{icon|raw}}</a>
            {% else %}
            <div>
                {% if showFirst == 1 %}
                    {{ label|raw }}
                {% elseif showFirst == 2 %}
                    {{icon|raw}}
                {% elseif field.textAlign == "left" %}
                    {{icon|raw}}{{ label|raw }}
                {% else %}
                    {{ label|raw }}{{icon|raw}}
                {% endif %}
            </div>
            {% endif %}
        </span>

        {% if field.formattedValue.count > 1 %}
            <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="{{ others|join(", ")~stillMore }}">
            +{{ field.formattedValue.count - 1 }}
                </span>
        {% endif %}

    {% elseif field.formattedValue.count %}
        <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="{{ others|join(", ")~stillMore }}">
            {{ field.formattedValue.count }}
        </span>
    {% else %}
	    <span class="badge badge-secondary">0</span>
    {% endif %}

{% else %}
     <span class="badge badge-secondary">
     {% if field.customOptions.get('renderFormat') == "count" %} 
        {{ field.formattedValue|length }}
     {% elseif field.customOptions.get('renderFormat') == "text" %} 
        {% if field.customOptions.get('relatedUrl') is not null %}
            <a href="{{ field.customOptions.get('relatedUrl') }}">{{ field.formattedValue|default("-") }}</a>
        {% else %}
            {{ field.formattedValue|default("-") }}
        {% endif %}
    {% else %}
    ?
    {% endif %}
    </span>
{% endif %}
