{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% trans_default_domain 'EasyAdminBundle' %}

{% if ea.crud.currentAction == 'detail' or not field.customOptions.get('switch') %}

    <span class="badge {{ field.value == true ? 'badge-boolean-true' : 'badge-boolean-false' }}">
        {{ (field.value == true ? 'label.true' : 'label.false')|trans }}
    </span>

{% else %}

    <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" data-boolean-field="{{field.uniqueId}}" data-boolean-confirmation-check="{{ field.customOptions.get('confirmation[onCheck]') }}" data-boolean-confirmation-uncheck="{{ field.customOptions.get('confirmation[onUncheck]') }}" id="{{ field.uniqueId }}" {{ field.value == true ? 'checked' }}
            data-toggle-url="{{ field.customOptions.get('toggleUrl') }}"
            {{ field.formTypeOption('disabled') == true ? 'disabled' }} autocomplete="off">
        <label class="form-check-label" for="{{ field.uniqueId }}"></label>
    </div>

{% endif %}

{% if field.customOptions.get('confirmation[onCheck]') or field.customOptions.get('confirmation[onUncheck]') %}

    <!-- Modal -->
    <div class="modal fade" id="{{ field.uniqueId }}-modal" tabindex="-1" role="dialog" aria-labelledby="{{ field.uniqueId }}-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{ "@fields.boolean.title" | trans([field.label]) }}</h4>
        </div>
        <div class="modal-body">
            {{ "@fields.boolean.text"|trans }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">{{ "@fields.boolean.button.cancel"|trans }}</button>
            <button type="button" class="btn btn-primary" id="{{ field.uniqueId }}-confirm">{{ "@fields.boolean.button.confirm"|trans }}</button>
        </div>
        </div>
    </div>
    </div>

{% endif %}
