{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if field.value is iterable %}
    {% for value in field.value %}
        <span class="badge badge-secondary"><img class="country-flag" src="{{asset('bundles/base/images/flags/'~value~'.svg')}}"> {{ field.formattedValue[loop.index0].text }}</span>
    {% endfor %}
{% elseif field.value is not null %}
    <img class="country-flag" src="{{asset('bundles/base/images/flags/'~field.value~'.svg')}}"> {{ field.formattedValue ?? '' }}
{% else %}
    <span class="badge badge-secondary">{{field.formattedValue ?? '-'}}</span>
{% endif %}
