{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% set renderFormat = field.customOptions.get('renderFormat') %}
{% set showFirst = field.customOptions.get('showFirst') %}
{% set allowDownload = field.customOptions.get('allowDownload') %}

{% set pageDetail = ea.crud.currentAction == 'detail' %}

{% set preferredDownloadName = field.customOptions.get('preferredDownloadName') %}
{% if renderFormat == "image" and not showFirst %}
    {% set renderFormat = count %}
{% endif %}

{% if  renderFormat == 'image' or renderFormat == 'avatar' %}

    {% if renderFormat == 'avatar' %}
        {% set icon = '<i class="fas fa-fw fa-user-circle fa-3x"></i>' %}
    {% else %}
        {% set icon = '<i class="fas fa-fw fa-image fa-2x"></i>' %}
    {% endif %}

    {% if field.formattedValue is iterable %}

        {% if ea.crud.currentAction == 'detail' %}
            {% set images = field.formattedValue %}
        {% else %}
            {% set path  = field.formattedValue|first %}
            {% set images = path is empty or null ? [] : [path] %}
        {% endif %}
    {% else %}
        {% set images = field.formattedValue is empty or null ? [] : [field.formattedValue] %}
    {% endif %}

    {% for key, image in images %}

        {% if image is not null %}
            {% set html_id = 'ea-lightbox-' ~ field.uniqueId %}
            <a href="{{ image|imagine }}" class="lightbox-thumbnail" data-lightbox="{{field.property}}">
                <div id="{{ html_id }}" class="img-fluid thumbnail-{{renderFormat}}">
                    <img src="{{ image|thumbnail(600,600) }}">
                </div>
            </a>
        {% endif %}

    {% endfor %}

    {% if images is empty %}
        {% if pageDetail %}
            {{ "@fields.fileupload.file_counter.none"|trans }}
        {% else %}
            {% set html_id = 'ea-lightbox-' ~ field.uniqueId %}
            <div id="{{ html_id }}" class="img-fluid thumbnail-{{renderFormat}}">{{ icon|raw }}</div>
        {% endif %}
    {% endif %}

{% elseif renderFormat == 'count' or field.value is iterable %}

    <span class="badge badge-secondary">
        {% if field.value is iterable %}
            {{ field.value|length }}
        {% else %}
            {{ (field.formattedValue is not empty)|default("0") }}
        {% endif %}
    </span>

{% else %}

    <span class="badge badge-secondary">
    {% if field.formattedValue is empty %}

        {% if field.value is not empty %}
        <div data-toggle="tooltip" data-placement="top" title="File is missing">
            <i class="fas fa-fw fa-exclamation-triangle"></i>
        </div>
        {% else %}
        <div data-toggle="tooltip" data-placement="top" title="No file">-</div>
        {% endif %}

    {% else %}

        {% if allowDownload %}
        <a href="{{ field.formattedValue }}" download="{{ preferredDownloadName }}">
            <i class="fas fa-fw fa-paperclip"></i>
        </a>
        {% elseif field.value is not empty %}
        <div data-toggle="tooltip" data-placement="top" title="{{ preferredDownloadName }}">
            <i class="fas fa-fw fa-check"></i>
        </div>
        {% else %}
        <div data-toggle="tooltip" data-placement="top" title="No file">-</div>
        {% endif %}

    {% endif %}
    </span>

{% endif %}