{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if 'toMany' == field.customOptions.get('associationType') %}

    {% if field.customOptions.get('showFirst') and field.formattedValue[0] %}

        <span class="badge badge-secondary">
            {% if field.customOptions.get('relatedUrl') is not null %}
            <a href="{{ field.customOptions.get('relatedUrl') }}">{{ field.formattedValue[1] }}</a>
            {% else %}
            {{ field.formattedValue[1] }}
            {% endif %}
        </span>

        {% if field.formattedValue[0] > 1 %}
            <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="{{ field.formattedValue[2] }}">
            +{{ field.formattedValue[0]-1 }}
                </span>
        {% endif %}

    {% elseif field.formattedValue[0] %}
        <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="{{ field.formattedValue[2] }}">
            {{ field.formattedValue[0] }}
        </span>
    {% else %}
	    <span class="badge badge-secondary">0</span>
    {% endif %}

{% else %}
     <span class="badge badge-secondary">
        {% if field.customOptions.get('relatedUrl') is not null %}
            <a href="{{ field.customOptions.get('relatedUrl') }}">
            {{ field.formattedValue|default("-") }}</a>
        {% else %}
            {{ field.formattedValue|default("-") }}
        {% endif %}
    </span>
{% endif %}
