{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% set show = field.customOptions.get('show') %}
{% set showFirst = field.customOptions.get('showFirst') %}
{% set renderAsCount = field.customOptions.get('renderAsCount') %}

{% if field.value is iterable %}

    {% set formattedValues = field.formattedValue %}
    {% set hasEntries = formattedValues|length > 0 %}

    {% if showFirst %}

        {% if hasEntries %}
        
        {% set formattedValue = formattedValues|first %}
        {% set fieldValue = formattedValue|first %}
        {% set fieldLink = fieldValue != formattedValue|last ? formattedValue|last : null %}

        <span class="badge badge-secondary">
            {% if fieldLink is not null %}<a href="{{fieldLink}}">{% endif %}
            {% if showFirst == 1 %}
                {{fieldValue.text|default("-")}}  
            {% elseif showFirst == 2 %}
                <div data-toggle="tooltip" data-placement="top" title="{{ fieldValue.text }}">
                {{fieldValue.icon|fontAwesome({class:"fa-fw"})
                                 |default(fieldValue.icon|imagify)|default("") | raw}}
                </div>
            {% else %}
                {{fieldValue.text|default("-")}} | 
                {{fieldValue.icon|fontAwesome({class:"fa-fw"})
                                 |default(fieldValue.icon|imagify)|default("") | raw}}
            {% endif %}
            {% if fieldLink is not null %}</a>{% endif %}
        </span>

        {% set formattedValues = formattedValues|slice(1) %}
        {% endif %}

    {% endif %}

    {% if renderAsCount %}

        {% set sign = showFirst ? "+" : "" %}
        {%- if formattedValues|length -%}
            {%- set names = formattedValues|map(f => "#{f.text}") -%}
            <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="{{ names|join(', ') }}">
                {{sign}}{{ names|length }}
            </span>
        {%- elseif not hasEntries -%}
            <span class="badge badge-secondary">0</span>
        {%- endif -%}
        
    {% else %}

        {%- if not hasEntries -%}
            <span class="badge badge-secondary">-</span>
        {% endif %}

        {% for fieldKey,formattedValue in formattedValues %}

        {% set fieldValue = formattedValue|first %}
        {% set fieldLink = fieldValue != formattedValue|last ? formattedValue|last : null %}

        <span class="badge badge-secondary">
            {% if fieldLink is not null %}<a href="{{fieldLink}}">{% endif %}
            {% if show == 1 %}
                {{fieldValue.text|default("-")}}  
            {% elseif show == 2 %}
                <div data-toggle="tooltip" data-placement="top" title="{{ fieldValue.text }}">
                {{fieldValue.icon|fontAwesome({class:"fa-fw"})
                                 |default(fieldValue.icon|imagify)|default("") | raw}}
                </div>
            {% else %}
                {{fieldValue.text|default("-")}} | 
                {{fieldValue.icon|fontAwesome({class:"fa-fw"})
                                 |default(fieldValue.icon|imagify)|default("") | raw}}
            {% endif %}
            {% if fieldLink is not null %}</a>{% endif %}
        </span>
        {% endfor %}

    {% endif %}

{% else %}

    {% set fieldValue = field.formattedValue|first %}
    {% set fieldLink  = fieldValue != field.formattedValue|last ? field.formattedValue|last : null %}
    {% set hasEntries = fieldValue is not empty %}

    {% if showFirst %}
    
        {%- if not hasEntries -%}
            <span class="badge badge-secondary">-</span>
        {% endif %}

        <span class="badge badge-secondary">
        {% if fieldLink is not null %}<a href="{{fieldLink}}">{% endif %}
        {% if showFirst == 1 %}
            {{fieldValue.text|default("-")}}  
        {% elseif showFirst == 2 %}
            <div data-toggle="tooltip" data-placement="top" title="{{ fieldValue.text }}">
            {{fieldValue.icon|fontAwesome({class:"fa-fw"})
                                |default(fieldValue.icon|imagify)|default("") | raw}}
            </div>
        {% else %}
            {{fieldValue.text|default("-")}} | 
            {{fieldValue.icon|fontAwesome({class:"fa-fw"})
                                |default(fieldValue.icon|imagify)|default("") | raw}}
        {% endif %}
        {% if fieldLink is not null %}</a>{% endif %}
        </span>

    {% elseif renderAsCount %}

        {%- if fieldValue is not empty -%}
            <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="{{ fieldValue.text }}">1</span>
        {%- elseif not hasEntries -%}
            <span class="badge badge-secondary">0</span>
        {%- endif -%}
        
    {% else %}

        {%- if not hasEntries -%}
            <span class="badge badge-secondary">-</span>
        {% endif %}

        <span class="badge badge-secondary">
        {% if fieldLink is not null %}<a href="{{fieldLink}}">{% endif %}
        {% if show == 1 %}
            {{fieldValue.text|default("-")}}  
        {% elseif show == 2 %}
            <div data-toggle="tooltip" data-placement="top" title="{{ fieldValue.text }}">
            {{fieldValue.icon|fontAwesome({class:"fa-fw"})
                            |default(fieldValue.icon|imagify)|default("") | raw}}
            </div>
        {% else %}
            {{fieldValue.text|default("-")}} | 
            {{fieldValue.icon|fontAwesome({class:"fa-fw"})
                            |default(fieldValue.icon|imagify)|default("") | raw}}
        {% endif %}
        {% if fieldLink is not null %}</a>{% endif %}
        </span>
    {% endif %}

{% endif %}
