{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% set show = field.customOptions.get('show') %}
{% set showFirst = field.customOptions.get('showFirst') %}
{% set renderAsCount = field.customOptions.get('renderAsCount') %}

{% if field.value is iterable %}

    {% set formattedValues = field.formattedValue %}
    {% set hasEntries = formattedValues|length > 0 %}

    {% if showFirst %}

        {% if hasEntries %}
        
        {% set formattedValue = formattedValues|first %}
        {% set fieldLink = formattedValue['url'] ?? null %}
        <span class="badge badge-secondary">
            {% if fieldLink is not null %}<a href="{{fieldLink}}">{% endif %}
            {% if showFirst == 1 %}
                {{formattedValue.text|default("-")}}  
            {% elseif showFirst == 2 %}
                <div data-toggle="tooltip" data-placement="top" title="{{ formattedValue.text }}">
                {{formattedValue.icon|fontAwesome({class:"fa-fw"})
                                 |default(formattedValue.icon|imagify)|default("") | raw}}
                </div>
            {% else %}
                <span class="label">{{formattedValue.text|default("-")}}</span>
                {{formattedValue.icon|fontAwesome({class:"fa-fw"})
                                 |default(formattedValue.icon|imagify)|default("") | raw}}
            {% endif %}
            {% if fieldLink is not null %}</a>{% endif %}
        </span>

        {% set formattedValues = formattedValues|slice(1) %}
        {% endif %}

    {% endif %}

    {% if renderAsCount %}

        {% set sign = showFirst ? "+" : "" %}
        {%- if formattedValues|length -%}
            {% set formattedValue = formattedValues|first %}
            {%- set names = formattedValues|map(f => "#{f.text}") -%}
            <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="{{ names|join(', ') }}">
                {{sign}}{{ names|length }}
            </span>
        {%- elseif not hasEntries -%}
            <span class="badge badge-secondary">0</span>
        {%- endif -%}
        
    {% else %}

        {%- if not hasEntries -%}
            <span class="badge badge-secondary">-</span>
        {% endif %}

        {% for fieldKey,formattedValue in formattedValues %}

            {% set fieldLink = formattedValue['url'] ?? null %}

            <span class="badge badge-secondary">
                {% if fieldLink is not null %}<a href="{{fieldLink}}">{% endif %}
                {% if show == 1 %}
                    {{formattedValue.text|default("-")}}  
                {% elseif show == 2 %}
                    <div data-toggle="tooltip" data-placement="top" title="{{ formattedValue.text }}">
                    {{formattedValue.icon|fontAwesome({class:"fa-fw"})
                                    |default(formattedValue.icon|imagify)|default("") | raw}}
                    </div>
                {% else %}
                    <span class="label">{{formattedValue.text|default("-")}}</span>
                    {{formattedValue.icon|fontAwesome({class:"fa-fw"})
                                    |default(formattedValue.icon|imagify)|default("") | raw}}
                {% endif %}
                {% if fieldLink is not null %}</a>{% endif %}
            </span>
        {% endfor %}

    {% endif %}

{% else %}

    {% set formattedValue = field.formattedValue %}
    {% set fieldLink = formattedValue['url'] ?? null %}
    {% set hasEntries = field.formattedValue is not empty %}

    {% if showFirst %}
    
        {%- if not hasEntries -%}
            <span class="badge badge-secondary">-</span>
        {% endif %}

        <span class="badge badge-secondary">
        {% if fieldLink is not null %}<a href="{{fieldLink}}">{% endif %}
        {% if showFirst == 1 %}
            {{formattedValue.text|default("-")}}  
        {% elseif showFirst == 2 %}
            <div data-toggle="tooltip" data-placement="top" title="{{ formattedValue.text }}">
            {{formattedValue.icon|fontAwesome({class:"fa-fw"})
                                |default(formattedValue.icon|imagify)|default("") | raw}}
            </div>
        {% else %}
            <span class="label">{{formattedValue.text|default("-")}}</span>
            {{formattedValue.icon|fontAwesome({class:"fa-fw"})
                                |default(formattedValue.icon|imagify)|default("") | raw}}
        {% endif %}
        {% if fieldLink is not null %}</a>{% endif %}
        </span>

    {% elseif renderAsCount %}

        {%- if formattedValue is not empty -%}
            <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="{{ formattedValue.text }}">1</span>
        {%- elseif not hasEntries -%}
            <span class="badge badge-secondary">0</span>
        {%- endif -%}
        
    {% else %}

        {%- if not hasEntries -%}
            <span class="badge badge-secondary">-</span>
        {% endif %}

        <span class="badge badge-secondary">
        {% if fieldLink is not null %}<a href="{{fieldLink}}">{% endif %}
        {% if show == 1 %}
            {{formattedValue.text|default("-")}}  
        {% elseif show == 2 %}
            <div data-toggle="tooltip" data-placement="top" title="{{ formattedValue.text }}">
            {{formattedValue.icon|fontAwesome({class:"fa-fw"})
                            |default(formattedValue.icon|imagify)|default("") | raw}}
            </div>
        {% else %}
            <span class="label">{{formattedValue.text|default("-")}}</span>
            {{formattedValue.icon|fontAwesome({class:"fa-fw"})
                            |default(formattedValue.icon|imagify)|default("") | raw}}
        {% endif %}
        {% if fieldLink is not null %}</a>{% endif %}
        </span>
    {% endif %}

{% endif %}
