{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% set displayLimit = field.customOptions.get('displayLimit') %}
{% set showFirst    = field.customOptions.get('showFirst') %}
{% set show         = field.customOptions.get('show') %}
{% set iconAlign    = field.customOptions.get('iconAlign') %}

{% if field.value is iterable %}

    {% if showFirst %}
        {% set displayLimit = displayLimit > 0 ? displayLimit - 1 : displayLimit %}
    {% endif %}

    {% set formattedValues = field.formattedValue %}
    {% set hasEntries = formattedValues|length > 0 %}

    {% if showFirst %}

        {% if hasEntries %}

            {% set formattedValue = formattedValues|first %}
            {% set fieldLink = formattedValue['url'] ?? null %}

            {% set icon = null %}
            {% if formattedValue.icon is defined %}
                {% set icon = formattedValue.icon|iconify({class:"fa-fw"})|default(formattedValue.icon|imagify)|default(null) %}
            {% endif %}

            <span class="badge badge-secondary">
                <span>{% if fieldLink is not null %}<a href="{{fieldLink}}">{% endif %}
                {% if showFirst == 1 %}
                    {{formattedValue.text|default("-")}}  
                {% elseif showFirst == 2 %}
                    <div data-toggle="tooltip" data-placement="top" title="{{ formattedValue.text }}">{{ icon ? icon|raw : formattedValue.text|default("-") }}</div>
                {% else %}
                    {{ iconAlign == "left" ? icon|raw : "" }}
                    {% if icon is not null %}
                        <span class="label">{{formattedValue.text|default("-")}}</span>
                    {% else %}
                        {{formattedValue.text|default("-")}}
                    {% endif %}
                    {{ iconAlign != "left" ? icon|raw : "" }}
                {% endif %}
                {% if fieldLink is not null %}</a>{% endif %}</span>
            </span>
            {% set formattedValues = formattedValues|slice(1) %}
        {% endif %}

    {% endif %}

    {% set stillMore = "" %}
    {% set others = [] %}

    {% for other in formattedValues %}
        {% if displayLimit > others|length %}
            {% set others = others|merge([other]) %}
        {% elseif displayLimit > 0 %}
            {% set stillMore = others|length != 0 ? ", [..]" : "[..]" %}
        {% endif %}
    {% endfor %}

    {% if field.customOptions.get('renderFormat') == "count" %}

        {% set sign = showFirst ? "+" : "" %}
        {%- if formattedValues|length -%}
            {% set formattedValue = formattedValues|first %}
            {%- set names = others|map(f => "#{f.text}") -%}
            <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="{{ names|join(', ')~stillMore }}">
                {{sign}}{{ formattedValues|length }}
            </span>
        {%- elseif not hasEntries -%}
            <span class="badge badge-secondary">0</span>
        {%- endif -%}
        
    {% else %}

        {%- if not hasEntries -%}
            <span class="badge badge-secondary">-</span>
        {% endif %}

        {% for fieldKey,formattedValue in others %}

            {% set icon = null %}
            {% if formattedValue.icon is defined %}
                {% set icon = formattedValue.icon|iconify({class:"fa-fw"})|default(formattedValue.icon|imagify)|default(null) %}
            {% endif %}

            {% set fieldLink = formattedValue['url'] ?? null %}
            <span class="badge badge-secondary">
                <span>{% if fieldLink is not null %}<a href="{{fieldLink}}">{% endif %}
                {% if show == 1 %}
                    {{formattedValue.text|default("-")}}  
                {% elseif show == 2 %}
                    <div data-toggle="tooltip" data-placement="top" title="{{ formattedValue.text }}">{{ icon ? icon|raw : formattedValue.text|default("-") }}</div>
                {% else %}
                    {{ iconAlign == "left" ? icon|raw : "" }}
                    {% if icon is not null %}
                        <span class="label">{{formattedValue.text|default("-")}}</span>
                    {% else %}
                        {{formattedValue.text|default("-")}}
                    {% endif %}
                    {{ iconAlign != "left" ? icon|raw : "" }}
                {% endif %}

                {% if fieldLink is not null %}</a>{% endif %}
                </span>
            </span>
        {% endfor %}

        {% set sign = (formattedValues|length - others|length > 0) ? "+" : "" %}
        {%- if sign is not empty -%}
            <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="[..]">
                {{sign}}{{ (formattedValues|length - others|length) }}
            </span>
        {%- endif -%}

    {% endif %}

{% else %}

    {% set formattedValue = field.formattedValue %}
    {% set fieldLink = formattedValue['url'] ?? null %}
    {% set hasEntries = field.formattedValue is not empty %}

    {% if showFirst %}
    
        {%- if not hasEntries -%}
            <span class="badge badge-secondary">-</span>
        {% endif %}

        {% set icon = null %}
        {% if formattedValue.icon is defined %}
            {% set icon = formattedValue.icon|iconify({class:"fa-fw"})|default(formattedValue.icon|imagify)|default(null) %}
        {% endif %}

        <span class="badge badge-secondary">
        {% if fieldLink is not null %}<a href="{{fieldLink}}">{% endif %}
        {% if showFirst == 1 %}
            <span>{{formattedValue.text|default("-")}}</span>
        {% elseif showFirst == 2 %}
            <div data-toggle="tooltip" data-placement="top" title="{{ formattedValue.text }}">{{ icon ? icon|raw : formattedValue.text|default("-") }}</div>
        {% else %}
            <span>
                {{ iconAlign == "left" ? icon|raw : "" }}
                {% if icon is not null %}
                    <span class="label">{{formattedValue.text|default("-")}}</span>
                {% else %}
                    {{formattedValue.text|default("-")}}
                {% endif %}
                {{ iconAlign != "left" ? icon|raw : "" }}
            </span>
        {% endif %}
        {% if fieldLink is not null %}</a>{% endif %}
        </span>

    {% elseif field.customOptions.get('renderFormat') == "count" %}

        {%- if formattedValue is not empty -%}
            <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="{{ formattedValue.text }}">1</span>
        {%- elseif not hasEntries -%}
            <span class="badge badge-secondary">0</span>
        {%- endif -%}
        
    {% else %}

        {%- if not hasEntries -%}
            <span class="badge badge-secondary">-</span>
        {% endif %}

        {% set icon = null %}
        {% if formattedValue.icon is defined %}
            {% set icon = formattedValue.icon|iconify({class:"fa-fw"})|default(formattedValue.icon|imagify)|default(null) %}
        {% endif %}

        <span class="badge badge-secondary">
        {% if fieldLink is not null %}<a href="{{fieldLink}}">{% endif %}
        {% if show == 1 %}
            <span>{{formattedValue.text|default("-")}}</span>
        {% elseif show == 2 %}
            <div data-toggle="tooltip" data-placement="top" title="{{ formattedValue.text }}">{{ icon ? icon|raw : formattedValue.text|default("-") }}</div>
        {% else %}
            <span>
                {{ iconAlign == "left" ? icon|raw : "" }}

                {% if icon is not null %}
                    <span class="label">{{formattedValue.text|default("-")}}</span>
                {% else %}
                    {{formattedValue.text|default("-")}}
                {% endif %}

                {{ iconAlign != "left" ? icon|raw : "" }}
            </span>
        {% endif %}
        {% if fieldLink is not null %}</a>{% endif %}
        </span>
    {% endif %}

{% endif %}
