{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% set leadingHash = field.customOptions.get('leadingHash') ? "#" : "" %}

{% if field.formattedValue is iterable %}

    <span class="badge badge-secondary" title="{{ field.value }}">
        {% if field.formattedValue['url'] is defined and field.formattedValue['url'] is not null %}
            {{ clipboard("copy", field.formattedValue['url']) }}
            <a href="{{ field.formattedValue['url'] }}">{{leadingHash ~ field.formattedValue['slug']|raw|nl2br }}</a>
        {% else %}
            {{ "fa-solid fa-question-circle"|iconify|first|raw }}
            #{{ field.formattedValue['slug']|raw|nl2br }}
        {% endif %}
    </span>
{% else %}
    <span class="badge badge-secondary" title="{{ field.value }}">{{ leadingHash ~ field.formattedValue|raw|nl2br }}</span>
{% endif %}
