<div class="timezone-dropdown dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdown-timezone" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-globe"></i> {{ "@localizer.timezone._singular"|trans }}
    </button>
    <ul class="dropdown-menu {{ class|default("") }}" aria-labelledby="dropdown-timezone">
    {% for timezone in available_timezones %}
        {% set current = (timezone == current_timezone) ? "active" : null %}
        <li><a href="{{ path("_switch_timezone", {_timezone: timezone|lang}) }}" {{ html_attributes({"class": "dropdown-item "~current}) }}>
            {{ timezone }}
        </a></li>
    {% endfor %}
    </ul>
</div>

