{% extends 'layout1.html.twig' %}

{% block title %}Edit your profile{% endblock %}

{% block content %}

    {% if user is defined %}
    <article class="wrapper extended">
        <div class="header">

            <ul class="field-avatar">
                <li>{{ user.getFormattedAvatar()|raw }}</li>
            </ul>

            <div class="text">

                <h1>Member #{{ user.id }}: {{ user }}</h1>

                <div class="info">
                    {{ '@messages.profile.registered'|trans([
                        user.createdAt()|datetime("dd MMMM YYYY"),
                        user.createdAt()|datetime("HH:mm")
                    ])|raw }}&nbsp

                    - {% if app.user == user or is_granted("ROLE_ADMIN") %}
                        <a href="{{path('user_profileEdit', {'id':user.id})}}">Editer le profil</a>
                    {% endif %}
                </div>
                <hr>
                <div>
                {{ form_start(form) }}

                    {{ form_widget(form.avatar) }}
                    {{ form_row(form.username) }}

                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword, {label: 'Password'}) }}
                    <br/>

                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    <br/>

                    <button class="btn btn-lg btn-primary" type="submit">Modify</button>
                {{ form_end(form) }}
                </div>
            </div>
        </div>

    </article>
    {% endif %}

{% endblock %}
