{% extends 'layout1.html.twig' %}

{% block title %}Member #{{ user.id }}: {{ user }}{% endblock %}
{% block content %}

    {% if user is defined %}
    <article class="half">
            <h1>Member #{{ user.id }}: {{ user }}</h1>
            <div class="mb-3">
                You are logged in as {{ user }}, <a href="{{ path('security_logout') }}">Logout</a>
            </div>
    </article>
    {% endif %}

{% endblock %}
