{% extends 'layout1.html.twig' %}

{% block title %}Two Factor!{% endblock %}
{% block content %}

    {% if user %}
    <div class="mb-3">

        <h1>Two Factor Authentification</h1>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-sm">

                You are about to set a two factor authentification.
                It consists of using a smart app (e.g. Duo Mobile, Free OTP, Google Authenticator) to secure even more your account.
                Flash this QR Code to enable this feature and submit the code provided.

                <div class="input-group form-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa-fw fa-brands fa-hashtag {{ form.totpSecret.vars.required ? "required" : "" }}"></i>
                        </span>
                    </div>
                    {{ form_widget(form.totpSecret) }}

                    <small>{{ form_help(form.totpSecret) }}</small>
                    <div class="invalid-feedback">{{ form_errors(form.totpSecret) }}</div>
                </div>

                {{ form_row(form._csrf_token) }}
                <button class="w-100 btn btn-lg btn-primary" type="submit">Enable 2FA</button>
            </div>
            <div class="col-sm">
                <img src="{{ path('user_settings_2fa_qrcode') }}" width="200" height="200">
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    {% endif %}

{% endblock %}
