{% extends "@EasyAdmin/layout.html.twig" %}

{% block content_icon  %}{{ iconify("backoffice_apikey")|closest(1)|raw }}{% endblock %}
{% block content_title %}{{ title("backoffice_apikey") }}{% endblock %}
{% block content_excerpt  %}{{ excerpt("backoffice_apikey") }}{% endblock %}
{% block content %}

{% if form.children|length > 1 %}
    <div class="page-apikey">
    {{ form(form) }}
    </div>
{% else %}
    <div class="text-center">
    {{"@controllers.backoffice_apikey.empty"|trans}}
    </div>
{% endif %}

{% endblock %}
