{% extends "@EasyAdmin/layout.html.twig" %}

{% block content_icon %}{{ iconify("backoffice_settings")|closest(1)|raw  }}{% endblock %}
{% block content_title %}{{ title("backoffice_settings") }}{% endblock %}
{% block content_excerpt  %}{{ excerpt("backoffice_settings") }}{% endblock %}
{% block content %}

{% if form.children|length > 1 %}
    <div class="page-settings">
    {{ form(form) }}
    </div>
{% else %}
    <div class="text-center">
    {{ "@controllers.backoffice_settings.empty"|trans }}
    </div>
{% endif %}

{% endblock %}
