{% extends "@EasyAdmin/layout.html.twig" %}


{% block content_icon %}{{ iconify("dashboard_widgets")|closest(1)|raw  }}{% endblock %}
{% block content_title %}{{ title("dashboard_widgets") }}{% endblock %}
{% block content_excerpt  %}{{ excerpt("dashboard_widgets") }}{% endblock %}
{% block content %}

{% if form.children|length > 1 %}
    {{ form(form) }}
{% else %}
    <div class="text-center">
    {{"@controllers.dashboard_widgets.empty"|trans}}
    </div>
{% endif %}

{% endblock %}
