{% extends "@EasyAdmin/layout.html.twig" %}

{% block content_icon %}{{ "backoffice_widgets"|iconify|closest(1)|raw  }}{% endblock %}
{% block content_title %}{{ title("backoffice_widgets") }}{% endblock %}
{% block content_excerpt  %}{{ excerpt("backoffice_widgets") }}{% endblock %}
{% block content %}

{% if form.children|length > 1 %}
    {{ form(form) }}
{% else %}
    <div class="text-center">
    {{"@controllers.backoffice_widgets.empty"|trans}}
    </div>
{% endif %}

{% endblock %}
