{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# This template checks for 'ea' variable existence because it can
   be used in a EasyAdmin Dashboard controller, where 'ea' is defined
   or from any other Symfony controller, where 'ea' is not defined #}
{% extends ea is defined ? ea.templatePath('layout') : '!@EasyAdmin/page/login.html.twig' %}
{% trans_default_domain ea is defined ? ea.i18n.translationDomain : (translation_domain is defined ? translation_domain ?? '@messages') %}

{% block page_title %}{{ (page_title ?? ea.dashboardTitle ?? ('@forms.login.title'|trans))|raw }}{% endblock %}
{% block page_title_block_output %}{{ block("page_title")}}{% endblock%}
{% block head_favicon %}
    <link rel="shortcut icon" href="{{ asset(ea.dashboardFaviconPath) }}">
{% endblock %}

{% block body_class 'page-login' %}
{% block head_stylesheets %}
    <link rel="stylesheet" href="{{ asset('app.css', ea.assets.defaultAssetPackageName) }}">
    {{ encore_entry_link_tags('base') }}
    {{ encore_entry_link_tags('form') }}
    {{ encore_entry_link_tags('easyadmin') }}
    <style>
        .lb-loader, .lightbox { left: 0px; line-height: 0; position: absolute; text-align: center; }
        .lightboxOverlay { background-color: rgb(0, 0, 0); display: none; left: 0px; opacity: 0.8; position: absolute; top: 0px; z-index: 9999; }
        .lightbox { font-weight: 400; outline: 0px; width: 100%; z-index: 10000; }
        .lightbox .lb-image { border: 4px solid rgb(255, 255, 255); border-radius: 3px; display: block; height: auto; max-height: none; max-width: inherit; }
        .lightbox a img { border: none; }
        .lb-outerContainer { background-color: rgb(255, 255, 255); border-radius: 4px; height: 250px; margin: 0px auto; position: relative; width: 250px; }
        .lb-outerContainer::after { clear: both; content: ""; display: table; }
        .lb-loader { height: 25%; top: 43%; width: 100%; }
        .lb-cancel { background: url("/bundles/base/images/loading.f657825a.gif") no-repeat; display: block; height: 32px; margin: 0px auto; width: 32px; }
        .lb-nav { height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; z-index: 10; }
        .lb-container > .nav { left: 0px; }
        .lb-nav a { background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); outline: 0px; }
        .lb-next, .lb-prev { cursor: pointer; display: block; height: 100%; }
        .lb-nav a.lb-prev { background: url("/bundles/base/images/prev.0edc57cc.png") left 48% no-repeat; float: left; left: 0px; opacity: 0; transition: opacity 0.6s ease 0s; width: 34%; }
        .lb-nav a.lb-prev:hover { opacity: 1; }
        .lb-nav a.lb-next { background: url("/bundles/base/images/next.62074ac7.png") right 48% no-repeat; float: right; opacity: 0; right: 0px; transition: opacity 0.6s ease 0s; width: 64%; }
        .lb-nav a.lb-next:hover { opacity: 1; }
        .lb-dataContainer { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; margin: 0px auto; padding-top: 5px; width: 100%; }
        .lb-dataContainer::after { clear: both; content: ""; display: table; }
        .lb-data { color: rgb(204, 204, 204); padding: 0px 4px; }
        .lb-data .lb-details { float: left; line-height: 1.1em; text-align: left; width: 85%; }
        .lb-data .lb-caption { font-size: 13px; font-weight: 700; line-height: 1em; }
        .lb-data .lb-caption a { color: rgb(68, 170, 238); }
        .lb-data .lb-number { clear: left; color: rgb(153, 153, 153); display: block; font-size: 12px; padding-bottom: 1em; }
        .lb-data .lb-close { background: url("/bundles/base/images/close.0cfd6489.png") 100% 0px no-repeat; display: block; float: right; height: 30px; opacity: 0.7; outline: 0px; text-align: right; transition: opacity 0.2s ease 0s; width: 30px; }
        .lb-data .lb-close:hover { cursor: pointer; opacity: 1; }
        .badge { display: inline-flex; }
        .badge > span::before { border-right: 1px solid rgb(0, 0, 0); padding: 0px 0.25em 0px 0.5em; }
        .badge > span:first-child::before { border-right: 0px; padding: 0px; }
        .badge { padding: 0.4em 0.5em; }
        .badge div { border-right: 1px solid; margin-right: 0.35em; padding-right: 0.5em; }
        .badge div:last-child:not(:first-child) { margin-left: 0.15em; }
        .badge div:last-child { border-right: none; margin-right: 0px; padding-right: 0px; }
        .badge .label:first-child { border-right: 1px solid; margin-right: 0.35em; padding-right: 0.5em; }
        .badge .label:last-child { border-left: 1px solid; margin-left: 0.35em; padding-left: 0.5em; }
        .label-wrapper a { font-size: 11pt; }
        {# .badge > * { align-items: center; display: flex; justify-content: center; } #}
        pre::before { background-color: rgb(253, 94, 87); border-radius: 50%; box-shadow: rgb(253, 94, 87) 0px 0px 0px 2px, rgb(254, 188, 46) 20px 0px 0px 2px, rgb(41, 200, 63) 40px 0px 0px 2px; content: ""; display: block; height: 7px; left: 8px; position: absolute; top: -18px; width: 7px; }
        pre { background-color: rgb(0, 43, 55); border-width: 30px 4px 4px; border-style: solid; border-color: rgb(85, 85, 85); border-image: initial; border-radius: 0.5em; color: rgb(255, 255, 255); line-height: 1.6em; min-width: 70px; overflow: unset; position: relative; white-space: pre-wrap; margin: 1em 0.25em !important; padding: 0.75em 1em !important; }
        .label-wrapper .badge > * { font-size: 10pt; }
        .label-wrapper .badge:not(.label) > a:first-child i, .label-wrapper .badge:not(.label) > i:first-child { font-size: 13pt; }
        .badge:not(.label) > a:first-child i, .badge:not(.label) > i:first-child { margin-right: 0.25em; }
        .badge:empty { display: none; }
        .badge + .badge { margin-left: 0px; }
        .field-boolean .badge { min-width: auto; }
        form .label-wrapper .badge { margin-bottom: auto; margin-left: 0.25em; margin-top: auto; padding-right: 0.5em; }
        form .label-wrapper { padding: 8px 0px; }
        .form-switch:first-child { padding-left: 0px; }
        hr { margin: 0.5rem 0px; }
        .lightbox { position: fixed; left: calc(-50vw - -50%) !important; max-height: 75% !important; top: 5% !important; transform: translate(calc(50vw - 50%)) !important; }
        .form-control:focus { box-shadow: none; }
        textarea { min-height: 150px !important; }
        .form-collection-items.form-control, .form-entity > .form-control { padding: 0px; }
        .form-control:not(input):not(textarea):not(select) { background-color: transparent; }
        mark { border-radius: 0.25em; padding: 0px; }
        .was-validated .form-group:not(.has-error) .ql-container, .was-validated .form-group:not(.has-error) .ql-toolbar { border-color: rgb(25, 135, 84) !important; }
        .form-control.is-valid, .was-validated .form-control:not(.form-check-input):valid, .was-validated select:valid ~ .select2-selection { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E"); background-repeat: no-repeat; color: rgb(25, 135, 84); border-color: rgb(25, 135, 84) !important; }
        .form-control.is-invalid, .was-validated .form-control:not(.form-check-input):invalid, form.was-validated select:invalid ~ .select2-selection { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3E%3C/svg%3E"); background-repeat: no-repeat; color: rgb(220, 53, 69); border-color: rgb(220, 53, 69) !important; }
        .form-switch .form-check-input { background-position: 0px center !important; background-size: contain !important; padding-right: unset !important; }
        .form-switch .form-check-input:checked { background-position: 100% center !important; background-size: contain !important; padding-right: unset !important; }
        .form-entity > .form-group:first-child { margin-top: 0px; padding-top: 0px; }
        .form-entity > .form-group:last-child { margin-bottom: 0px; padding-bottom: 0px; }
        .form-entity > .form-group { padding: 1em 0px; }
        .form-collection-items .form-widget .form-group { padding: 6px 0px; }
        .form-collection-items .form-widget .form-group label { display: none; }
        .form-collection-items .accordion-body > .form-control { border: 0px; }
        .form-collection-items .accordion-item .form-control { display: flex; flex-direction: column; }
        .form-collection-items > .form-group { border: 0px; padding: 0px; }
        .form-collection-items .accordion-item .form-control > div label, .form-collection-items .accordion-item .form-control > div legend.col-form-label { font-weight: 500; margin: 7px 0px; padding: 0px; }
        .form-collection-items .accordion-item .form-control > div .label-wrapper { margin-right: 1em; }
        input:not(.form-check-input).form-control { min-height: 38px; }
        .imageupload .deleteBtn, input[type="file"]:not(.form-check-input).form-control { height: 38px !important; }
        .form-control::-webkit-file-upload-button, .form-control::file-selector-button, .input-group-append, .input-group:not(.dropdown), .input[type="file"]::file-selector-button, .select2-container .select2-selection--multiple, .select2-container .select2-selection--single { min-height: 38px !important; }
        .form-switch.inline .label-wrapper { display: flex; }
        .form-password-block .form-password > .form-group { width: 100%; }
        .form-password > .form-group { flex: 0 0 auto; width: 100%; }
        .form-repeater > .form-group { flex: 0 0 auto; width: 50%; }
        .form-password > .form-control { border: 0px; padding: 0px; }
        .form-password > .form-group { padding: 1em 0.5em 1em 0px; }
        .form-entity > .form-control { border: 0px; }
        .field-association > .form-control { border: 0px; padding: 0px; }
        .form-association > .form-group { padding: 0.5em 0px; }
        .form-array-items .form-widget .form-group { padding: 6px 0px; }
        .form-array-items .form-widget .form-group label { display: none; }
        .form-array-items .accordion-body > .form-control { border: 0px; padding: 0px; }
        .form-array-items .accordion-body > .form-control > .form-group { padding: 0.5em !important; }
        .form-array-items .accordion-item .form-control > div { align-items: flex-start; display: flex; padding: 0.5em !important; }
        .form-array-items, .form-array-items > .form-group { border: 0px; padding: 0px !important; }
        .form-array-items .accordion-item .form-control > div label, .form-array-items .accordion-item .form-control > div legend.col-form-label, .form-array-items .accordion-item .form-control > div span { font-weight: 500; margin: 5px 0px; padding: 0px; width: 20%; }
        .input-danger .input-group-text { background-color: rgba(240, 127, 127, 0.667) !important; border-color: red !important; color: red !important; }
        :root { --text-muted:var(--gray-500); }
        .input-group-text { height: 100%; min-height: 38px; }
        .form-cropper-fields > .form-group { display: flex; flex-direction: column; margin: 0.5em 0px; }
        .form-check .form-check-input.form-switch { margin: auto 0.5em; width: 2.5em !important; }
        .form-check.form-switch:not(.inline) .form-checkbox span { align-items: center; display: flex; justify-content: center; margin-bottom: 3px; margin-top: -3px; }
        .form-check-input { margin-right: 0.5em; margin-top: 0px; }
        .form-check { align-items: start; display: flex; flex-direction: column; }
        .form-attribute .form-group, .form-cropper .form-group, .form-quadrant .form-group { padding: 0px; }
        .form-translatable > .form-control { border: 0px; padding: 0px; }
        .field-switch .form-check-label { font-weight: 500; }
        .field-switch .form-check-input { appearance: none; background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgba(148, 163, 184, 0.8)'/%3E%3C/svg%3E"); border-color: rgb(211, 211, 211); cursor: pointer; height: 25px; margin: 0px 5px; position: relative; top: -1px; width: 40px; }
        .input-group button, .input-group button:active, .input-group button:focus, .input-group button:hover { border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
        .input-group-text .btn, .input-group-text .btn:not(:disabled):not(.disabled):not(.btn-link):focus, .input-group-text .btn:not(:disabled):not(.disabled):not(.btn-link):hover { background-color: transparent; border: 0px; box-shadow: none; height: 100%; margin: 0px; padding: 1px; }
        .form-stock .input-group-text { padding-top: 5px; }
        .form-money .input-group-text { font-weight: 700; padding-top: 4px; }
        .form-attribute .form-attribute-items > .form-control { border: 0px; }
        .form-attribute .form-attribute-items > .form-group { padding: 0.5em 0px; }
        .btn-matrix > .btn { border-radius: 0px; height: 40px; margin: 1px; width: 40px; }
        .btn-matrix > .btn.maintain, .btn-matrix > .btn:focus { background-color: rgba(87, 104, 188, 0.2); z-index: 1; }
        .btn-matrix > .btn:first-child { border-top-left-radius: 4px; }
        .btn-matrix > .btn:last-child { border-bottom-right-radius: 4px; }
        .btn-matrix > .btn:not(:disabled):not(.disabled):not(.btn-link):active, .btn-matrix > .btn:not(:disabled):not(.disabled):not(.btn-link):active:focus, .btn-matrix > .btn:not(:disabled):not(.disabled):not(.btn-link):focus, .btn-matrix > .btn:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):hover { box-shadow: none; }
        .btn-matrix2 > .btn:nth-child(2) { border-top-right-radius: 4px !important; }
        .btn-matrix2 > .btn:nth-last-child(2) { border-bottom-left-radius: 4px !important; }
        .btn-matrix3 > .btn:nth-child(3) { border-top-right-radius: 4px !important; }
        .btn-matrix3 > .btn:nth-last-child(3) { border-bottom-left-radius: 4px !important; }
        .btn-matrix4 > .btn:nth-child(4) { border-top-right-radius: 4px !important; }
        .btn-matrix4 > .btn:nth-last-child(4) { border-bottom-left-radius: 4px !important; }
        .btn-matrix5 > .btn:nth-child(5) { border-top-right-radius: 4px !important; }
        .btn-matrix5 > .btn:nth-last-child(5) { border-bottom-left-radius: 4px !important; }
        .btn-matrix6 > .btn:nth-child(6) { border-top-right-radius: 4px !important; }
        .btn-matrix6 > .btn:nth-last-child(6) { border-bottom-left-radius: 4px !important; }
        .fa, .fab, .fad, .fal, .far, .fa-solid { -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal; font-variant: normal; line-height: 1; text-rendering: auto; }
        .fa-3x { font-size: 3em; }
        .fa-fw { text-align: center; width: 1.25em; }
        .fa-lock::before { content: ""; }
        .fa-unlock::before { content: ""; }
        .fa-user::before { content: ""; }
        .fa, .far, .fa-solid { font-family: "Font Awesome 6 Free"; }
        .fa, .fa-solid { font-weight: 900; }
        .input-group.date .input-group-addon, .input-group.date .input-group-text { cursor: pointer; }
        img, svg { vertical-align: unset; }
        .input-group .select2-container--bootstrap4 { -webkit-box-flex: 1; flex-grow: 1; }
        .input-group > .select2-container--bootstrap4:not(:last-child) .select2-selection { border-bottom-right-radius: 0px; border-top-right-radius: 0px; }
        body, html { scroll-padding-top: 11em; }
        :root { --select2-bg:var(--gray-100); }
        .row > * { padding-left: 0px; }
        .input-group button, .input-group button:active, .input-group button:focus, .input-group button:hover { height: 100%; margin-top: 0px; }
        .form-group label, .form-group legend.col-form-label { padding: 0px; }
        .form-check .form-check-input { margin: auto 0.5em; }
        textarea:focus { background-color: var(--body-bg); }
        .field-association.form-group { padding: 0px; }
        .form-control { padding: 0.375rem 0.75rem; }
        .ea-dark-scheme .ql-html { filter: invert(100%); }
        .ea-dark-scheme .ql-toolbar.ql-toolbar-html-only { background-color: rgba(248, 250, 252, 0.2); }
        .form-control::-webkit-file-upload-button, .form-control::file-selector-button { background-color: var(--sidebar-bg); box-shadow: var(--form-input-box-shadow); color: var(--form-input-text-color); }
        .input-group-text { background-color: var(--sidebar-bg); height: 100%; padding: 0.425rem 0.75rem; }
        form fieldset > * { margin-left: 1.25em; }
        form fieldset > legend { float: unset; margin-bottom: 1em; margin-left: 1em; margin-top: 2em; }
        fieldset .form-group { padding: 0px; }
        form fieldset .badge.badge-secondary { background-color: var(--sidebar-bg); }
        form fieldset { margin: 1em 0px; padding: 0px 2em; }
        form fieldset legend { font-size: 11pt; }
        .datagrid td.text-center .form-email { justify-content: center; }
        .ea-sidebar-width-compact #header-logo { visibility: hidden; }
        .ea-sidebar-width-compact .main-header { padding-top: 7em; }
        .form-group.field-collection.form-control > div:nth-last-child(-n+2) .accordion-item { border-bottom: 0px solid rgb(211, 211, 211); }
        .filter-content .form-group:last-of-type { padding-bottom: 12px; }
        .ea .content-wrapper .form-attribute-items .form-collection-items > .form-group { padding: 0.5em 0px; }
        .form-group > .form-group { margin: 0px; padding: 0px; }
        .ea .content-wrapper .form-collection-items > .form-group { padding-bottom: 0px; padding-top: 0px; }
        .ea-edit-form > .form-group, .ea-new-form > .form-group { padding: 1em; }
        .ea-edit-form > .form-group > .form-entity, .ea-new-form > .form-group > .form-entity { padding: 0px; }
        .ea-edit-form > .form-group > .form-entity > .form-group, .ea-new-form > .form-group > .form-entity > .form-group { padding: 1em 0px; }
        .page-login { max-height: 100vh; }
        .form-check .form-check-input { margin-left: 0.5em; }
        .form-check .form-checkbox span { align-items: center; display: flex; height: 29px; justify-content: center; }
        .login-wrapper .input-group button, .login-wrapper .input-group button:active, .login-wrapper .input-group button:focus, .login-wrapper .input-group button:hover { height: auto; }
        .form-switch .form-check-input { height: 24px; width: 42px; }
        .main-content .content { max-width: calc(100vw - var(--sidebar-max-width)); }
        span[data-toggle="tooltip"] { position: relative; }
        body { color: var(--button-color); overflow: hidden scroll; }
        .datagrid .field-boolean .form-switch input { top: 0px; }
        .datagrid td > span.badges .badge + .badge { margin-left: 0.25em; }
        .datagrid td.text-center > span.badges { justify-content: center; }
        .form-switch label.checkbox-switch { padding: 0px; }
        .form-switch .form-check-label { margin: 0px; padding: 0px; }
        .form-group label.form-check-label.required::after { content: "•"; }
        .content-top .content-search .form-group { display: flex; }
        .main-header #header-logo img, .main-header #header-logo svg { background-color: rgba(255, 255, 255, 0.533); }
        #header-logo .spacer { height: 125px; }
        #header-logo { margin-top: 45px; }
        .logo img { border: 1px solid var(--content-top-border-color); border-radius: var(--border-radius); height: 100%; margin: auto; object-fit: cover; width: 100%; }
        .logo .logo-overlay:hover { backdrop-filter: blur(5px); background-color: rgba(255, 255, 255, 0.133); opacity: 1; }
        .login-wrapper button { padding: 0.4em 0.5em; border-radius: var(--border-radius) !important; }
        .login-wrapper .field-button { align-items: center; display: flex; justify-content: center; }
        .login-wrapper hr:first-of-type { margin: 2em 0px 0px; }
        .login-wrapper hr:last-of-type { margin: 0px 0px 1em; }
        .login-wrapper .remember-me { flex-direction: row; padding-left: 1em; }
        .login-wrapper .remember-me, .logo .logo-overlay { align-items: center; display: flex; justify-content: center; }
        .logo .logo-overlay { height: 100%; opacity: 0; position: absolute; transition: all 0.5s ease 0s; width: 100%; }
        .logo, .responsive-logo { border-radius: var(--border-radius); height: 200px; max-height: 200px; max-width: 200px; overflow: hidden; position: relative; width: 200px; }
        form .row > div.form-group { padding: 1em 0px; }
        form .row button[type="submit"] { margin: 1em 0px; }
        .ea-dark-scheme .form-switch .form-check-input:checked { background-color: var(--form-switch-checked-bg); border-color: unset; }
        .page-login { background-color: var(--body-bg); }
        .page-login .content { background-color: var(--sidebar-bg); }
        .page-login .login-wrapper { height: 100%; justify-content: center; margin-top: -50px; }
        .page-login .logo { place-content: center; display: flex; }
        input.form-control { background-color: var(--button-bg); color: var(--button-color); }
        .main-header #header-logo a { padding: unset; }
        .main-header #header-logo .logo-custom { place-content: center space-between; display: flex; height: 100%; width: 100%; }
        fieldset { background: var(--sidebar-bg); border: var(--border-width) var(--border-style) var(--content-top-border-color); }
        input.form-control:not(.form-check-input), input.form-control:not(.form-check-input):focus, select.form-control, select.form-control:focus, textarea.form-control, textarea.form-control:focus { background-color: var(--body-bg); }
        input.form-control:not(.form-check-input):disabled, input.form-control:not(.form-check-input)[readonly], select.form-control:disabled, select.form-control[readonly], textarea.form-control:disabled, textarea.form-control[readonly] { background-color: var(--sidebar-bg); }
        .input-group-text { border: 1px solid var(--sidebar-border-color); }
        .form-control { background-color: var(--sidebar-bg); }
        .form-control, .form-control:focus { border: var(--border-width) var(--border-style) var(--content-top-border-color); }
        .form-control:focus { box-shadow: inset -1px 0 0 var(--sidebar-border-color); }
        .form-collection-items.form-control { border: 0px; }
        .content-header .page-actions .btn { margin: 0.25em 0px; }
        .form-control.is-valid, .was-validated .form-control:valid { background-image: none; }
        .form-control::placeholder { color: inherit; }
        .main-header { display: block; }
        p { margin-left: 1em; margin-bottom: 0; }
        .alert.alert-info { display: flex; }
    </style>
{% endblock %}

{% block flash_messages %}
    {{ include(ea.templatePath('flash_messages')) }}
{% endblock flash_messages %}

{% block wrapper_wrapper %}

    {% set page_title = block("page_title") %}
    {% set _identifier_label = identifier_label is defined ? identifier_label|trans : 'login_page.identifier'|trans({}, 'EasyAdminBundle') %}
    {% set _password_label = password_label is defined ? password_label|trans : 'login_page.password'|trans({}, 'EasyAdminBundle') %}
    {% set _sign_in_label = sign_in_label is defined ? sign_in_label|trans : 'login_page.sign_in'|trans({}, 'EasyAdminBundle') %}

    {% include '@EasyAdmin/flash_messages.html.twig' %}

    <div class="login-wrapper spinner">

        <header class="main-header">
            <div id="header-logo" style="padding: 1em !important;">
                {% block header_logo %}
                    {% if logo %}
                        <div class="logo-custom">
                            <div class="logo {{ page_title|length > 14 ? 'logo-long' }}">
                                <div class="logo-overlay">{{"security_rescue"|iconify({"class": "fa-3x"})|first|raw}}</div>
                                <img alt="logo" src="{{ logo|thumbnail(500,500)|raw }}">
                            </div>
                        </div>
                    {% endif %}
                {% endblock header_logo %}
            </div>
        </header>

        {# {% if error|default(false) %}
            <div class="w-100 alert alert-danger">
                {{ error.messageKey|trans(error.messageData, '@security') }}
            </div>
        {% endif %} #}
        <section class="content">

            <h1>{{ page_title }}</h1>

                {{ form_start(form) }}

                    <input type="hidden" name="_target_path" value="{{ app.referrer }}"/>

                    <div class="input-group mt-4 mb-2">
                        <span class="input-group-text h-auto" id="identifier-addons"><i class="fa-solid fa-fw fa-user"></i></span>
                        {{ form_widget(form.identifier, {attr:{placeholder:'@forms.login.identifier'|trans}}) }}
                    </div>

                    <div class="input-group field-password mb">
                        <span class="input-group-text h-auto" id="identifier-addons"><i class="fa-solid fa-fw fa-lock"></i></span>
                        {{ form_widget(form.password, {attr:{ placeholder:'@forms.login.password'|trans}}) }}
                    </div>

                    <hr>

                    <div class="text-center form-group field-button input-group field-password">
                            <button type="submit" class="btn btn-primary btn-block" onclick="this.form.submit(); this.disabled=true;">{{app.request.get('_route')|iconify|second|raw}} {{ _sign_in_label }}</button>
                            <div class="remember-me form-group form-check form-switch form-switch-lg">
                                {{ form_widget(form._remember_me) }}
                                {{ form_label(form._remember_me, '@forms.login.rememberMe'|trans) }}
                            </div>
                    </div>

                    {{ form_rest(form) }}

                    <hr>
                    <div class="text-center">
                        <a href="{{ path(app.site.index) }}">{{ "Back to website"|trans(domain="backoffice") }}</a>
                    </div>
                {{ form_end(form) }}

        </section>
    </div>
{% endblock %}
