{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# This template checks for 'ea' variable existence because it can
   be used in a EasyAdmin Dashboard controller, where 'ea' is defined
   or from any other Symfony controller, where 'ea' is not defined #}
{% extends ea is defined ? ea.templatePath('layout') : '@EasyAdmin/page/login.html.twig' %}
{% trans_default_domain ea is defined ? ea.i18n.translationDomain : (translation_domain is defined ? translation_domain ?? '@messages') %}

{% block head_favicon %}
    <link rel="shortcut icon" href="{{ asset(ea.dashboardFaviconPath) }}">
{% endblock %}

{% block body_class 'page-login' %}
{% block head_stylesheets %}
    <link rel="stylesheet" href="{{ asset('app.css', ea.assets.defaultAssetPackageName) }}">
    {{ encore_entry_link_tags('base') }}
    {{ encore_entry_link_tags('form') }}
    {{ encore_entry_link_tags('easyadmin') }}
{% endblock %}

{% block page_title %}{{ (page_title ?? ea.dashboardTitle ?? ('@forms.login.title'|trans))|raw }}{% endblock %}

{% block flash_messages %}
    {{ include(ea.templatePath('flash_messages')) }}
{% endblock flash_messages %}

{% block wrapper_wrapper %}

    {% set page_title = block("page_title") %}
    {% set _identifier_label = identifier_label is defined ? identifier_label|trans : 'login_page.identifier'|trans({}, 'EasyAdminBundle') %}
    {% set _password_label = password_label is defined ? password_label|trans : 'login_page.password'|trans({}, 'EasyAdminBundle') %}
    {% set _sign_in_label = sign_in_label is defined ? sign_in_label|trans : 'login_page.sign_in'|trans({}, 'EasyAdminBundle') %}

    {% include '@EasyAdmin/flash_messages.html.twig' %}

    <div class="login-wrapper">

        <header class="main-header">
            <div id="header-logo" style="padding: 1em !important;">
                {% block header_logo %}
                    {% if logo %}
                        <div class="logo-custom">
                            <div class="logo {{ page_title|length > 14 ? 'logo-long' }}">
                                <div class="logo-overlay">{{"security_rescue"|iconify({"class": "fa-3x"})|first|raw}}</div>
                                <img alt="logo" data-src="{{ logo|thumbnail(500,500)|raw }}">
                            </div>
                        </div>
                    {% endif %}
                {% endblock header_logo %}
            </div>
        </header>

        {% if error|default(false) %}
            <div class="w-100 alert alert-danger">
                {{ error.messageKey|trans(error.messageData, '@security') }}
            </div>
        {% endif %}
        <section class="content">

            <h1>{{ page_title }}</h1>

                {{ form_start(form) }}

                    <input type="hidden" name="_target_path" value="{{ app.referrer }}"/>

                    <div class="input-group mt-4 mb-2">
                        <span class="input-group-text h-auto" id="identifier-addons"><i class="fa fa-fw fa-user"></i></span>
                        {{ form_widget(form.identifier, {attr:{placeholder:'@forms.login.identifier'|trans}}) }}
                    </div>

                    <div class="input-group field-password mb">
                        <span class="input-group-text h-auto" id="identifier-addons"><i class="fa fa-fw fa-lock"></i></span>
                        {{ form_widget(form.password, {attr:{ placeholder:'@forms.login.password'|trans}}) }}
                    </div>

                    <hr>

                    <div class="text-center form-group field-button input-group field-password">
                            <button type="submit" class="btn btn-primary btn-block" onclick="this.form.submit(); this.disabled=true;">{{app.request.get('_route')|iconify|second|raw}} {{ _sign_in_label }}</button>
                            <div class="remember-me form-group form-check form-switch form-switch-lg">
                                {{ form_widget(form._remember_me) }}
                                {{ form_label(form._remember_me, '@forms.login.rememberMe'|trans) }}
                            </div>
                    </div>

                    {{ form_rest(form) }}

                    <hr>
                    <div class="text-center">
                        <a href="{{ path(app.site.index) }}">{{ "Back to website"|trans(domain="backoffice") }}</a>
                    </div>
                {{ form_end(form) }}

        </section>
    </div>
{% endblock %}
