
<div class="btn-matrix btn-matrix3">
    <button type="button" class="btn btn-default" disabled></button>
    <button type="button" data-quadrant="NORTH"     class="btn btn-default">{{ form.vars.icons["NORTH"]|first|iconify }}</button>
    <button type="button" class="btn btn-default" disabled></button>
    <button type="button" data-quadrant="WEST"      class="btn btn-default">{{ form.vars.icons["WEST"]|first|iconify }}</button>
    <button type="button" data-quadrant="ORIGIN"    class="btn btn-default">{{ form.vars.icons["ORIGIN"]|first|iconify }}</button>
    <button type="button" data-quadrant="EAST"      class="btn btn-default">{{ form.vars.icons["EAST"]|first|iconify }}</button>
    <button type="button" class="btn btn-default" disabled></button>
    <button type="button" data-quadrant="SOUTH"     class="btn btn-default">{{ form.vars.icons["SOUTH"]|first|iconify }}</button>
    <button type="button" class="btn btn-default" disabled></button>
</div>
