
<div class="btn-matrix btn-matrix3">
    <button type="button" data-quadrant="NORTHWEST" class="btn btn-default">{{ form.vars.icons["NORTHWEST"]|first|iconify|first|raw }}</button>
    <button type="button" data-quadrant="NORTH"     class="btn btn-default">{{ form.vars.icons["NORTH"]|first|iconify|first|raw }}</button>
    <button type="button" data-quadrant="NORTHEAST" class="btn btn-default">{{ form.vars.icons["NORTHEAST"]|first|iconify|first|raw }}</button>
    <button type="button" data-quadrant="WEST"      class="btn btn-default">{{ form.vars.icons["WEST"]|first|iconify|first|raw }}</button>
    <button type="button" data-quadrant="ORIGIN"    class="btn btn-default">{{ form.vars.icons["ORIGIN"]|first|iconify|first|raw }}</button>
    <button type="button" data-quadrant="EAST"      class="btn btn-default">{{ form.vars.icons["EAST"]|first|iconify|first|raw }}</button>
    <button type="button" data-quadrant="SOUTHWEST" class="btn btn-default">{{ form.vars.icons["SOUTHWEST"]|first|iconify|first|raw }}</button>
    <button type="button" data-quadrant="SOUTH"     class="btn btn-default">{{ form.vars.icons["SOUTH"]|first|iconify|first|raw }}</button>
    <button type="button" data-quadrant="SOUTHEAST" class="btn btn-default">{{ form.vars.icons["SOUTHEAST"]|first|iconify|first|raw }}</button>
</div>
