{% extends 'layout.html.twig' %}
{% block content %}
	<article class="half text-center wrapper">
		<h1>{{ 'controllers.exception.title'|trans2 }}</h1><br/>
		<h3>{{ exception.getCode() }} {{ exception.getMessage() }}</h3>

		{% set transCode = "controllers.exception." ~ exception.code %}
		{% if (transCode|trans2) != transCode %}
		<p>{{ 'controllers.exception.description'|trans2([base.mail()])|raw }}</p>
		{% endif %}

		{% set referer = app.request.server.get('http-referer')|default(asset('')) %}
		<p>{{ 'controllers.exception.return'|trans2([referer])|raw }}<p>
	</article>
{% endblock %}
