{% extends 'layout.html.twig' %}
{% block content %}
	<div class="exception half text-center wrapper">

		{% set transCode = "controllers.exception." ~ flattenException.statusCode %}
		{% if (transCode|trans2) != transCode %}
			<h1 class="exception-title">{{ flattenException.statusCode }} {{ transCode|trans2 }}</h1>
			<h3>{{ 'controllers.exception.title'|trans2 }}</h3>
			<p class="exception-message">{{ 'controllers.exception.description'|trans2([base.settings.mail()])|raw }}</p>
		{% else %}
			{% set code = ((flattenException.statusCode != 0) ? flattenException.statusCode : null)|default(500) %}
			<h1 class="exception-title">{{ code }} {{"controllers.exception.unknown"|trans2}}</h1>
			<h3>{{ 'controllers.exception.title'|trans2 }}</h3>
			<p class="exception-message">{{ flattenException.getMessage() }}</p>
		{% endif %}

		{% set referer = app.request.server.get('http-referer')|default(asset('')) %}
		<p class="exception-referer">{{ 'controllers.exception.return'|trans2([referer])|raw }}<p>
	</div>
{% endblock %}
