{% extends 'layout.html.twig' %}

{% block content %}
	<div class="container text-center">
		<h2>{{ 'controllers.maintenance.title' | trans2 }}</h2><br/>
		<p>
			{{ 'controllers.maintenance.description' | trans2({
				downtime,
				0:downtime|datetime("EEEE dd MMMM YYYY"),
				1:downtime|datetime("hh:mm:ss")
				})
			}}

			{% if remainingTime > 0 %} <br/> {% endif %}
			{{ 'controllers.maintenance.estimate' | trans2({
					uptime,
					0: 'controllers.maintenance.days'|trans2([remainingTime|date("d")]),
					1: 'controllers.maintenance.hours'|trans2([remainingTime|date("H")]),
					2: 'controllers.maintenance.minutes'|trans2([remainingTime|date("i")])
				})
			}}

		</p>

		{% if percentage >= 0 %}
		<br />
		<div class="progress"style="height: 25px;">
			<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
				style="width:{{percentage}}%;">
			</div>
		</div><br/>
		<h4>{{ 'controllers.maintenance.progress' | trans2([percentage]) }}</h4>
		{% endif %}
	</div>

{% endblock %}