<div {{ html_attributes(row_attr) }}>
    {% if label != false %}<span class="label">{{ label }}</span>{% endif %}
    <ul {{ html_attributes(attr) }}>
        {% for item in widget.hyperlinks %}
            {% set url = item.generate() %}
            {% if url is not empty %}
                <li class="{{ item.getHyperpattern().getCode() }}"><a href="{{ url }}">{{ item|iconify|first|raw }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>