
<span class="paginator-rewind">{{ paginator_rewind(pagination, path, path_parameters, rewind) }} </span>

<span class="paginator-previous">{{ paginator_previous(pagination, path, path_parameters) }}</span>

<span class="paginator-current">{{ paginator_current(pagination) }}</span>

<span class="paginator-next">{{ paginator_next(pagination, path, path_parameters) }}</span>

<span class="paginator-fast-forward">{{ paginator_fastforward(pagination, path, path_parameters, fastforward) }}</span>
